[2016-11-03 10:35] mcapuccini opened #25 "Need provisioners version in the docs"
Need for provisioners version in the docs

[2016-11-03 10:47] StaffanArvidsson opened #26 "AWS problem with images without python"
Followed the guide and got this problem:

scilife-47-157:KubeNow staffan$ ansible all -m ping
kubenow-master | FAILED! => {
    "changed": false,
    "failed": true,
    "module_stderr": "/bin/sh: 1: /usr/bin/python: not found\n",
    "module_stdout": "",
    "msg": "MODULE FAILURE"
}
kubenow-edge-000 | FAILED! => {
    "changed": false,
    "failed": true,
    "module_stderr": "Warning: Permanent

[2016-11-03 12:18] StaffanArvidsson commented on #26
I specified the src image ID instead of the KubeNow image ID

[2016-11-03 12:18] #26 closed

[2016-11-03 12:19] StaffanArvidsson opened #27 "edge numbers should be only 2 digits"
cat inventory
[master]
kubenow-master ansible_ssh_host=52.58.26.27 ansible_ssh_user=ubuntu
[edge]
kubenow-edge-000 ansible_ssh_host=52.57.221.74 ansible_ssh_user=ubuntu
kubenow-edge-001 ansible_ssh_host=52.57.10.89 ansible_ssh_user=ubuntu
[master:vars]
edge_names="ip-10-0-155-0 ip-10-0-31-125"

[2016-11-03 12:59] #27 closed

[2016-11-03 13:17] mcapuccini opened #29 "Fix Terraform Warnings"
This doesn't have big priority, but we should fix it a certain point, to avoid errors in the next Terraform versions.

[code]

[2016-11-03 13:21] mcapuccini commented on #25
Fixed https://github.com/mcapuccini/KubeNow/commit/0f3679107fa637c48b242bba56ff6d3f746788ea

[2016-11-03 13:21] #25 closed

[2016-11-07 19:21] mcapuccini opened #32 "Empty /etc/default/docker causes build error with some source images"
Empty /etc/default/docker causes build error with some source images:

[code]

caused by

[code]

[2016-11-14 16:33] sneumann opened #33 "Deployment on Bielefeld OpenStack failled"
Hi,
Issue to lift a kubernetes cluster. Tried with terraform 0.7.8 and 0.7.9.

Yours, Steffen

[code]

OpenStack API version 2.0

[2016-11-15 09:37] sneumann opened #34 "Failure with Existing previousls created keypair"
[code]

[2016-11-15 10:36] mcapuccini commented on #34
@sneumann it probably didn't get destroyed from last time you ran. You should destroy it manually in this case.

[2016-11-15 11:09] #34 closed

[2016-11-16 08:25] mcapuccini commented on #33
As reported in https://github.com/hashicorp/terraform/issues/10130, a workaround to this issue consists in using Terraform 0.7.7.

[2016-11-17 09:28] mcapuccini commented on #33
Setting `wontfix` as it is a problem caused by https://github.com/gophercloud/gophercloud. Hopefully it is going to be solved soonish.

[2016-11-17 09:41] mcapuccini opened #35 "Cloudflare management should be moved to Terraform"
Cloudflare management should be moved to Terraform. It is easy to forget to remove DNS records after `terraform destroy`.

[2016-11-20 16:03] mcapuccini opened #40 "Remove wait cycle on node join"
kubeadm now supports polling on join https://github.com/kubernetes/kubernetes/pull/34703. No longer need for: https://github.com/kubenow/KubeNow/blob/master/bootstrap/node.sh#L8.

[2016-11-22 13:48] mcapuccini opened #41 "Use names instead of IDs in terraform configurations when possible"
Right now we use quite a lot of UUIDs in terraform configs, it would be good to use names where possible, to simplify the configuration process.

[2016-11-22 22:24] mcapuccini opened #42 "Cluster mode for Traefik"
We should consider to deploy Traefik in cluster mode: https://blog.containo.us/introducing-distributed-cheese-traefik-1-1-camembert-is-out-fb19e05a48c8#.4nu45tyjj

[2016-11-23 07:50] andersla commented on #41
The only places I have found UUID in openstack .tfvars is external_net and name is not supported. In packer-conf.json it is in network_id and packer only supports uuid specifying network.

[2016-11-23 09:15] mcapuccini commented on #41
closing 😄

[2016-11-23 09:15] #41 closed

[2016-12-07 09:13] mcapuccini commented on #42
![](https://github.trello.services/images/mini-trello-icon.png) [Traefik in Cluster mode](https://trello.com/c/0jqncHFR/4-traefik-in-cluster-mode)

[2016-12-07 09:14] mcapuccini commented on #40
![](https://github.trello.services/images/mini-trello-icon.png) [Remove wait cycle on node join](https://trello.com/c/iUgUra9V/5-remove-wait-cycle-on-node-join)

[2016-12-07 09:15] mcapuccini commented on #35
![](https://github.trello.services/images/mini-trello-icon.png) [Cloudflare in Terraform](https://trello.com/c/z0APzmeM/6-cloudflare-in-terraform)

[2016-12-07 09:15] mcapuccini commented on #29
![](https://github.trello.services/images/mini-trello-icon.png) [Fix Terraform Warnings](https://trello.com/c/3LhwPwOf/7-fix-terraform-warnings)

[2017-01-14 14:54] mcapuccini opened #62 "Travis CI timeout is very tight"
Travis CI timeout (50 minutes) is very tight. We need to split the build in multiple jobs. Possibly we can optimize it by running only certain parts of the CI basing on what changed.

[2017-01-18 22:22] mcapuccini commented on #62
Fixed!

[2017-01-18 22:22] #62 closed

[2017-01-24 17:12] mcapuccini opened #77 "Failed to create volume: Host 10.0.0.9 is not in 'Peer in Cluster' state"
Fail to create volume: Host 10.0.0.9 is not in 'Peer in Cluster' state.

[code]

[2017-01-25 09:48] mcapuccini opened #78 "Packer build broken"
Google removed the kubelet version that we are using: https://travis-ci.org/kubenow/KubeNow/builds/195112465

[2017-01-25 10:36] mcapuccini opened #79 "Underscores in hostnames get replaced with minus"
[code]

Possible solutions:
- make _ in hostname illegal (terraform should complain about it, but it doesn't)
- use terraform interpolation to replace it with -

[2017-01-25 19:49] sneumann opened #80 "Race condition: Error from server (NotFound): nodes \"vrebielefeld-edge-01\" not found"
Hi,

in both Bielefeld (two weeks ago) and Giessen (today's checkout) I get:
[code]

which I fixed with

[code]

[2017-01-25 19:50] sneumann opened #81 "Ansible part:: connection to localhost:8080 was refused"
[code]

[2017-01-25 21:20] sneumann commented on #81
The OpenStack is running the image kubenow-v020a1
Looking into `root@vregiessen-master:/var/log/syslog ` I find
[code]
which is strange, because the file does exist:
[code]

What's also unexpected is that niether master nor edge has any docker instances running,
so it fails fairly early in the setup.

[2017-01-27 11:19] mcapuccini commented on #81
@sneumann did you fix this with @andersla?

[2017-01-27 11:19] mcapuccini commented on #80
@sneumann did you fix this with @andersla?

[2017-01-27 11:42] sneumann commented on #81
The issue is DNS related, since `/etc/resolv.conf` contains hard-coded public DNS servers (8.8.8.8 and 8.8.4.4 at google) and this installation has Port 53 blocked. I fixed this locally by leaving DNS stuff to the DHCP server, who will usually give appropriate servers if the OpenStack neutron is configured correctly.

[code]

[2017-01-27 11:47] sneumann commented on #80
Seems to be fixed by waiting in `bootstrap/node.sh `, not sure which commit.

[2017-01-27 12:11] mcapuccini commented on #81
@andersla can you make DNS configurable?

[2017-01-27 12:31] mcapuccini commented on #80
yep, I fixed this before christmas. Please pull again the repo, after I am done with https://github.com/kubenow/KubeNow/issues/78 and https://github.com/kubenow/KubeNow/issues/77. Also @andersla will have to update the submodule in cloud-deploy.

[2017-01-27 12:31] mcapuccini commented on #78
Fixed!

[2017-01-27 12:32] #78 closed

[2017-01-27 13:26] #77 closed

[2017-01-30 09:07] #81 closed

[2017-02-03 15:33] andersla commented on #80
Should be resolved with above merges, otherwise reopen

[2017-02-03 15:33] #80 closed

[2017-02-03 15:38] andersla commented on #33
A workaround is to specify flavor_id instead of flavor_name, or image_id instead of image_name, also reported in hashicorp/terraform#10130

[2017-02-15 10:26] andersla opened #90 "Test playbook is failing on gce"
This is the playbook output:

[code]

[2017-02-18 15:09] pditommaso opened #91 "Invalid variable syntax: "name_prefix"."
Just tried to deploy a k8s cluster on AWS following the [tutorial](http://kubenow.readthedocs.io/en/latest/getting_started/bootstrap.html#bootstrap-on-amazon-web-services-ec2). However when I run the command:

[code]

I get the following error message:

[code]

[2017-02-18 15:18] mcapuccini commented on #91
Hi @pditommaso, thanks for opening the issue. What version of Terraform are you using?

[2017-02-18 15:19] pditommaso commented on #91
Hi there. It's `0.8.7`.

[2017-02-18 15:26] mcapuccini commented on #91
I see. We run the integration test using terraform 0.7.8, but we'll look into 0.8.x and fix this issue. In the meanwhile, would you ming trying with 0.7.8?

On the roadmap there is a *kubenow cli* which will wrap around a docker image with the tested versions of the provisioning tools. This should avoid such problems in the future.

[2017-02-18 15:34] pditommaso commented on #91
Nice idea the Docker wrapper. With the old version terraform it run like a charm. Great work.

[2017-02-20 10:55] mcapuccini commented on #91
It is now fixed for terraform 0.8

[2017-02-20 10:55] #91 closed

[2017-02-25 10:30] mcapuccini commented on #32
Closing since we now provide prebuilt images

[2017-02-25 10:30] #32 closed

[2017-03-04 15:53] pditommaso opened #99 "Error import KeyPair"
The cluster deployment fails when the keypair is already existing.

[code]

I've solved deleting the previously created keypair. Said that, is the keypair really needed? Since I've specified my own key file in the `terraform.tfvars` the keypair should be redundant.

[2017-03-04 15:58] pditommaso opened #100 "Allow to specify AWS VPC subnet id"
Is there a way to provide an existing VPC subnet id when setting up the cluster ?

[2017-03-04 17:04] andersla commented on #100
I think this can easily be an option now when we are moving to Terraform 0.8 (Terraform 0.8 has conditionals)
For now you would need to modify the file aws/main.tf:

comment out:
[code]
and then insert your existing `subnet_id` and `security_group_id` in the variables further down the in same file.

[2017-03-04 18:22] mcapuccini commented on #99
Thanks for opening the issue! By your own keypair you mean a keypair that you previously created in the AWS console, or a local keypair in your workstation?

When you run `terraform apply aws` your workstation's keypair gets uploaded to AWS, and when you run `terraform destroy aws` it gets deleted from AWS. However, if prior to the deployment you already had a keypair called kubenow-keypair this i

[2017-03-04 19:23] pditommaso opened #101 "apt-get install command fail"
The apt-get install fail are reported below:

[code]

The procedure reported [here](http://askubuntu.com/questions/15433/unable-to-lock-the-administration-directory-var-lib-dpkg-is-another-process) didn't help.

It looks the image (ami-6b427518) has been saved in an inconsistent state.

ps. let's continue next week :)

[2017-03-04 19:45] mcapuccini commented on #101
@pditommaso thanks for reporting, we are going to check and get back to you 🙂

[2017-03-06 11:54] pditommaso commented on #99
The was that I was not correctly using `terraform destroy aws`. However it would be nice being able to use a keypair previously created in the AWS console.

Moreover it should be noted that when specifying the keypair name provide by the AWS console, the `ssh_key` public is not needed any more, and *vice versa*.

[2017-03-06 12:30] mcapuccini commented on #99
Good! Let's keep it open then, we will add it when we move to Terraform 0.8.x using the conditional syntax.

[2017-03-06 12:41] pditommaso commented on #99
Sure, no hurry.

[2017-03-08 13:59] carmat88 opened #102 "Verify if less environmental variables can be used for OpenStack RC file"
Based on the [OpenStack documentation](https://docs.openstack.org/user-guide/common/cli-set-environment-variables-using-openstack-rc.html#download-and-source-the-openstack-rc-file), it seems that some environmental variables can be omitted whereas in the [KubeNow latest guidelines](http://kubenow.readthedocs.io/en/latest/getting_started/bootstrap.html) it is being recommended otherwise.

Thus inve

[2017-03-08 16:03] andersla opened #103 "Helm need to be installed by default user"
currently helm repositories are ending up in /root/.helm/repository/repositories.yaml and not found by default user ubuntu

[2017-03-09 13:33] carmat88 opened #105 "Prerequisites security check while bootstrapping on OpenStack"
In case users forget to source the OpenStack RC file for their tenancy, then importing the KubeNow image (only the first time you are deploying) will fail and return the following error:

**`fatal: [localhost]: FAILED! => {"attempts": 3, "changed": true, "cmd": "glance image-show  | grep -w status | awk '{print $4}'", "delta": "0:00:00.631334", "end": "2017-03-09 12:23:17.306059", "failed": true,

[2017-03-09 16:47] carmat88 opened #106 "Update documentation: make sure file "terraform.tfstate" will not be corrupted"
While bootstrapping Kubernetes via the terraform commands:

`terraform get openstack # get required modules (only the first time you deploy)`
`terraform apply openstack # deploy the cluster`

Stopping the process (e.g. by pressing Ctrl+C from terminal) may corrupt the file "_terraform.tfstate_" which can lead to technical complication. Hence, it is worthy to mention this in the KubeNow [getting st

[2017-03-09 17:45] carmat88 opened #108 "Error while deploying the stack of core component: "Can't LOOKUP(dig): module dns.resolver is not installed"""
After having deployed the stack of the core component with the command:

`ansible-playbook playbooks/install-core.yml`

To make sure that each service is running you can run the following command:

`ansible-playbook playbooks/infra-test.yml`

However it may happen that the test will return the following error:

**`FAILED! => {"failed": true, "msg": "An unhandled exception occurred while running th

[2017-03-09 20:51] mcapuccini opened #109 "Node labelling should be moved to node join"
It's not possible in `kubeadm` yet, but might be possible by a little modification to the kubelet service start.

[2017-03-10 10:36] carmat88 opened #110 "Update guidelines section "Deploy your first application" - Explain how to access Traefik UI"
It can be handy to expand how to connect to the Traefik UI after having [deployed the first test app](http://kubenow.readthedocs.io/en/latest/getting_started/first-app.html).

**ACTION:**  Split that paragraph in the visual front-end test (visiting the URLs) and back-end Traefik test by ssh forwarding on the edge nodes via the command:

`ssh -N -f -L localhost:808x:localhost:808x ubuntu@<edge-floa

[2017-03-10 10:51] mcapuccini commented on #42
We need to wait for this to be fixed first https://github.com/containous/traefik/issues/926

[2017-03-12 13:41] mcapuccini opened #111 "Need to update terraform templates with latest KubeNow image"
Terraform templates need to be update with the latest KubeNow image prior to release

[2017-03-13 16:32] carmat88 opened #112 "Improving Documentation: Touching upon the nova command while editing terraform script for Kubernetes bootstrap"
In the [Kubenow guidelines](http://kubenow.readthedocs.io/en/latest/getting_started/bootstrap.html#bootstrap-on-openstack), It might be worthy to give users some extra tip and info on how to get the external_network_uuid or the list of all currently configured _flavor_ when it comes to modify the `terraform.tfvars` file

**HINT:**
- nova network-list (to get external uuid)
- nova flavor-list

[2017-03-13 17:18] andersla commented on #112
Great!

[2017-03-14 18:16] #111 closed

[2017-03-16 09:47] mcapuccini opened #114 "Image import is not tested"
We need to write CI for image import/export for the supported cloud providers

[2017-03-17 12:47] #90 closed

[2017-03-17 12:53] mcapuccini opened #116 "Getting more done in GitHub with ZenHub"
Hola! @mcapuccini has created a [ZenHub](http://www.zenhub.com) account for the **kubenow** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=ZHOnbo

[2017-03-18 05:50] andersla commented on #101
I have verified the issue. A workaround is to run `sudo dpkg --configure -a` Lets leave current amazon images like this and make sure next version are not left in this state.

[2017-03-18 11:02] andersla commented on #116
great @mcapuccini!

[2017-03-18 11:13] mcapuccini commented on #116
@andersla thanks for letting me know this! Please add Estimate to your issues, so we can generate burndown charts 🙂

[2017-03-18 21:10] andersla commented on #101
Fixed in version 0.2.0

[2017-03-18 21:10] #101 closed

[2017-03-20 13:34] #116 closed

[2017-03-20 14:00] mcapuccini opened #118 "Create separated repository for documentation"
We need a separated repo for the documentation. This will allow for easier separation between documentation tests and infrastructure tests.

[2017-03-20 14:02] mcapuccini opened #119 "Decouple components from the infrastructure deployment"
In the road to 0.3.0 we should do some refractory for better separation of concern, and leaner CI process. This will also include more configurable Terraform modules.

[2017-03-20 14:43] carmat88 commented on #118
To Do:

1. - Create a separate repo
2. - Verify if possible to kept previous contributions (history) and tags
3. - Apply syntax and Sphinx checks:
       - https://github.com/atom/spell-check
       - http://www.sphinx-doc.org/en/stable/

[2017-03-20 15:04] mcapuccini commented on #118
We may get some inspiration from this: https://github.com/spotify/luigi/blob/f062ea2aae6a41985986c376736a83abfa0b3ef5/tox.ini#L109

[2017-03-20 15:13] carmat88 commented on #118
Bullet points 1 and 2 are done: https://github.com/kubenow/docs

Looking at n° 3

[2017-03-20 15:46] mcapuccini opened #120 "Add missing sudo to pip, in docs readme"
I think we need to add sudo here: https://github.com/kubenow/docs/blame/master/README.md#L11

[2017-03-20 16:11] #120 closed

[2017-03-20 16:38] mcapuccini opened #121 "OpenStack import wait loop condition iterates for every error"
This seems to loop for every error that may occur with glance: https://github.com/kubenow/KubeNow/blob/master/playbooks/import-openstack-image.yml. @andersla can we make it exit if there is an error? Right now if e.g. you forget to install glance it will loop for 60 minutes before returning the error.

[2017-03-20 17:02] jonandernovella opened #122 "[GCE] Default DNS server"
By default, the containers use the public google DNS server to resolve host names, instead of the kube-dns server. This makes the containers unable to communicate.

[2017-03-20 17:07] jonandernovella opened #123 "[OpenStack] Issues with Glance"
When deploying the latest KubeNow image on the cloud, I get the following error:

`fatal: [localhost]: FAILED! => {"attempts": 10, "changed": true, "cmd": "sudo glance image-show  | grep -w status | awk '{print $4}'", "delta": "0:00:00.337123", "end": "2017-03-20 17:50:44.264406", "failed": true, "rc": 0, "start": "2017-03-20 17:50:43.927283", "stderr": "usage: glance image-show [--human-readable]

[2017-03-20 18:10] carmat88 commented on #118
Separate repo for documentation has been created as per above requirements.

[2017-03-20 18:10] #118 closed

[2017-03-21 10:40] carmat88 opened #124 "Verify If less packages can be used for creating Documentation with Sphinx (readocs)"
Currently in our [documentation guidelines](https://github.com/kubenow/docs) it is being required to install three packages about Sphinx:

1. sphinx (this should stay mandatory)
2. sphinx-autobuild (optional, mainly for testing locally)
3. sphinx_rtd_theme (maybe mandatory for rendering purposes with readocs)

TO DO:

- testing by installing either 1 or 2 packages

[2017-03-21 11:00] mcapuccini commented on #122
@jonandernovella containers use the DNS of the network they are plugged into. If your container runs as host it will use the Google's DNS by default, unless you specified something else in the `terraform.tfvars` file. If your container is instead running in the overlay network, it will use kube-dns. I am closing this issue, as this is by design. Please feel free to open it again if this becomes bl

[2017-03-21 11:00] #122 closed

[2017-03-21 11:04] carmat88 opened #125 "Wrong release and version flags are being displayed in the documentation"
After having changed the docs folder into a separated repositories, both release and version flags are displayed incorrectly because using tags and history of the new repo instead of the main Kubenow.

FIX: correct file conf.py in docs repository

[2017-03-21 15:44] #125 closed

[2017-03-21 16:29] StaffanArvidsson opened #126 "K8s not successfully started when using too few nodes/small flavor size"
Running on OpenStack (SSC) using:
master_flavor = ssc.small
node_count = "2"
node_flavor = "ssc.medium"
edge_count = "1"
edge_flavor = "ssc.medium"

running:

finishes successfully, but running the following command to show that everything worked says that many of the kubernetes pods are not running due to STATUS "Outofcpu":

We tried bumping flavor size and node_count/edge_count but that results

[2017-03-21 16:47] mcapuccini commented on #126
@jonandernovella did you experience the same on SSC?

[2017-03-21 23:11] jonandernovella commented on #126
@mcapuccini @StaffanArvidsson I did not experience this. Please come by tomorrow if you continue experiencing this issue.

[2017-03-22 08:39] jonalv commented on #126
Running with three medium nodes now (one master, one edge and one node), the kubedns pod get's stuck at ContainerCreating (0/4). The logs for the pod looks like
[log.txt](https://github.com/kubenow/KubeNow/files/860795/log.txt)

[2017-03-22 09:24] mcapuccini commented on #126
@jonalv is this before or after running `ansible-playbook playbooks/install-core.yml`?

[2017-03-22 13:07] jonalv commented on #126
This was before. Will try to run that stuff as well now

[2017-03-22 14:48] carmat88 opened #127 "Running GlusterFS on dedicated nodes instead of installing on all the nodes"
Currently once the infrastructure has been spun up and the Phenomenal application is deployed, some performance issues are being encountered when trying to run the preprocessing analysis of the entire dataset, precisely during the _FeatureLinker_ task.

It has been noticed a very high network overhead among the nodes (as consequence access the dataset due to GlusterFS being spread across them), wh

[2017-03-22 15:07] jonalv commented on #126
It seems medium sized nodes are needed. As for the getting stuck part that doesn't happen once the core stuff is installed. I suggest this ticket can be closed.

[2017-03-24 12:54] mcapuccini opened #128 "GlusterFS container does not specify any maintainer"
GlusterFS container does not specify any maintainer, we need to add it in the [Dockerfile](https://github.com/kubenow/gluster-server/blob/master/Dockerfile).

[2017-03-24 14:39] andersla commented on #123
I think this also is resolved by #129
Please reopen if not

[2017-03-24 14:41] andersla commented on #105
fixed by #129

[2017-03-24 14:55] mcapuccini commented on #123
@andersla please wait for PR to be merged before closing

[2017-03-24 14:55] mcapuccini commented on #105
@andersla please wait for PR to be merged before closing

[2017-03-24 14:57] #121 closed

[2017-03-24 14:58] #123 closed

[2017-03-24 14:59] #105 closed

[2017-03-27 12:45] mcapuccini opened #131 "Make an Helm chart for GlusterFS"
We should deploy GlusterFS with Helm, and add Heketi to automagically provision volumes when a PVC is created. These are good starting points:

- Getting started: https://github.com/heketi/heketi/wiki/Kubernetes-Integration
- An existing Helm chart: https://github.com/gluster/gluster-kubernetes/issues/39

[2017-03-27 12:48] mcapuccini opened #132 "Traefik should be deployed via Helm"
We should deploy Traefik via Helm: https://github.com/kubernetes/charts/tree/master/stable/traefik. We need to send a PR to the official repo to allow for node selection, so even for OpenStack installation without LBaaS it is going to work.

[2017-03-27 12:50] mcapuccini opened #133 "Terraform refactory"
We should refactor Terraform configs to support 0.9.X and have less copy paste. There should be one node module that can be configure to be master, or node, with the possibility to specify node labels.

[2017-03-29 12:27] andersla opened #135 "Need to fix kubernetes version when running kubeadm init"
kubeadm is by default pulling latest version of kubernetes and this should instead be fixed to a specific version that we have tested and is working well. This can be done with kubeadm init --kubernetes-version as described here https://kubernetes.io/docs/admin/kubeadm/

[2017-03-30 13:06] mcapuccini commented on #135
We merge a dirty fix, but this is still to be considered open. We need to add fix the packer build before closing this.

[2017-03-30 16:11] #106 closed

[2017-03-30 16:11] #108 closed

[2017-03-30 16:11] #110 closed

[2017-03-30 16:11] #112 closed

[2017-03-30 16:24] mcapuccini commented on #124
@carmat88 is this resolved?

[2017-03-30 16:30] mcapuccini commented on #102
@carmat88 I verified this. The problem is with v2/v3 of the OpenStack keystone endpoint. We can remove the whole section about the variables, and add in troubleshooting that when you get `You must provide exactly one of DomainID or DomainName to authenticate by Username` either from terraform or packer, then you need to set `OS_DOMAIN_NAME` in your environment.

[2017-03-30 17:24] andersla opened #142 "deployment fails if a non standard terraform.tfvars file is being used"
If user is specifying an own terraform.tfvars file then playbook https://github.com/kubenow/KubeNow/blob/master/playbooks/roles/common/tasks/wait-nodes.yml fails because play - name: "render node count" is relying on terraform.tfvars when calculating number of nodes to wait for

[2017-03-30 17:27] mcapuccini commented on #142
@andersla you mean when you specify it with `-var-file`?

[2017-03-30 17:29] andersla commented on #142
yes, workaround is to specify "nodes_count=xx" when running ansible playbook, e.g. `ansible-playbook -e "nodes_count=3" --skip-tags "glusterfs" playbooks/install-core.yml`

[2017-03-30 17:30] mcapuccini commented on #142
nice! I'll fix this when I'll refactor the terraform deployment 🙂

[2017-03-31 09:03] carmat88 commented on #124
@mcapuccini I've done some tests and can confirm what described above.

1. _**Sphinx**_ is mandatory in order to build the documentation via the Makefile

2. _**sphinx-autobuild**_ cannot of corse run if the former is uninstalled. This binary is needed only for an interactive creation of the doc, i.e. to dynamically build it as changes are made. Very useful, but not essential in the sense that a m

[2017-03-31 09:14] carmat88 commented on #102
@mcapuccini Great, thanks for this follow-up. Will draft these changes and send a PR.

[2017-03-31 10:44] mcapuccini commented on #124
Thanks @carmat88! I think we can leave sphinx-autobuild in the instructions, but I think it may be good to remove sudo.

[2017-03-31 12:02] carmat88 commented on #124
@mcapuccini Sudo has been removed as requested. See PR here: https://github.com/kubenow/docs/pull/5

[2017-03-31 13:10] carmat88 commented on #102
@mcapuccini Doc revised and PR created: https://github.com/kubenow/docs/pull/5 . I remain at disposal for any further modification.

[2017-03-31 14:11] PayamEmami opened #143 "openstack_compute_instance_v2.master: Error waiting for instance XXX to become ready: unexpected state 'ERROR', wanted target 'ACTIVE'. last error: %!s(<nil>)"
Hello,

I get this error when i want to deploy on openstack:
openstack_compute_instance_v2.master: Error waiting for instance (a34baefe-a2a6-49f6-bf0b-214a3151d3dd) to become ready: unexpected state 'ERROR', wanted target 'ACTIVE'. last error: %!s(<nil>)

In the instance message it says:
Exceeded maximum number of retries. Exceeded max scheduling attempts 5 for instance 43d47d19-1ed3-4c47-ad42-100

[2017-03-31 14:14] andersla commented on #143
It looks like an internal error with the OpenStack installation, what cloud are you using?

[2017-03-31 14:15] mcapuccini commented on #143
Hi @PayamEmami! Just to make sure that it is not a problem with terraform, could you please try to start a VM instance manually from the OpenStack interface? If it fails then please contact OpenStack support.

[2017-03-31 14:17] andersla commented on #143
Could also maybe be some problem with the terraform.tfstate, you might need to delete the terraform.tfstate and the .terraform directory in your KubeNow directory.
Before you do that make sure to do a `terraform destroy openstack`

[2017-03-31 14:50] mcapuccini commented on #143
From Slack:

Payam Emami [4:41 PM]
now i'm getting this to start an instance from openstack web. block device mapping is invalid . any how let's leave it for now. Just wanted to try a workflow no that important. let's keep in touch. thank you

It is a problem with SNIC OpenStack, closing for now

[2017-03-31 14:50] #143 closed

[2017-03-31 15:07] #124 closed

[2017-04-05 12:28] andersla opened #144 "Add more MaxAuthTries to image"
Add MaxAuthTries 50 (or something more relevant than 6) to sshd_config on KubeNow image. Currently (on google-cloud at least) you can quickly get locked out from master where sshguard is blocking and ssh logon attempts fails silently with ssh prompt just hanging.

[2017-04-05 13:40] mcapuccini commented on #144
@andersla good idea! Let's do it after @carmat88 is done with the packer refactory!

[2017-04-07 08:43] andersla opened #147 "On OpenStack with neutron "floating-ip-pool" is not the right vocabulary"
On snic cloud for example "floating ip pool" is not the right wording - floating-ip are generated from the extrenal-network. This could be noted in the documentation. See for example: https://www.google.se/search?client=ubuntu&channel=fs&q=Floating+ip+pool+operations+are+only+available+for+Compute+v2+network&ie=utf-8&oe=utf-8&gfe_rd=cr&ei=FlDnWJWNFIrHsAHl5Lb4CA

[2017-04-12 11:19] andersla opened #150 "Check cloud init output log"
I think it would be great to have a first check (ansible playbook?) that will output to the user how the cloud-int kuneadm init / kubeadm join process worked out (failed or ok) - parsing the cloud-init log file for some facts

[2017-04-12 14:29] carmat88 opened #151 "Troubleshoot section seems to not have been updated"
In the [troubleshooting section for Openstack](https://kubenow.readthedocs.io/en/latest/troubleshoot/trouble-os.html) a paragraph is missing even though is present in the docs repo: https://github.com/kubenow/docs/blob/master/troubleshoot/trouble-os.rst

Here was the related PR: https://github.com/kubenow/docs/pull/5/files

The test of clearing the cache or opening with a different browser was not

[2017-04-15 14:31] andersla opened #152 "Version weave plugin"
Currently latest weave plugin is always being deployed - If we want to use specific version we need to store deployment yaml ( https://git.io/weave-kube-1.6 ) locally - that version should include specific pot versions (but check so it is not pulling latest)

[2017-04-21 08:48] carmat88 commented on #103
In [`requirement.sh`](https://github.com/kubenow/KubeNow/blob/master/packer/requirements.sh), line 58, we are moving the helm binary via `sudo to /usr/local/bin `.

**Possible Fix**: Adding one extra line after line 58 with the following command:

`chown ubuntu:ubuntu /usr/local/bin/helm`

**When**: This fix will be done once creation of KubeNow images will be finally decoupled.

[2017-04-21 08:52] andersla commented on #103
I actually don't think that is the problem. It is in the playbook doing a helm-init. This executed as root - but have changed the playbook for v0.3

[2017-04-21 09:08] carmat88 commented on #103
@andersla Aha, thanks! As per our discussion, in the [`main.yml`](https://github.com/kubenow/KubeNow/blob/master/playbooks/roles/start-helm/tasks/main.yml) file for the Helm's playbook at line 3: `become: yes` is triggering the superuser mode.

**Fix**: removing line 3 does fix the issue. No need to modify [`requirement.sh`](https://github.com/kubenow/KubeNow/blob/master/packer/requirements.sh)

@

[2017-04-22 10:32] andersla opened #155 "Security upgrade on images"
We could run "sudo unattended-upgrades -d" (installs security updates only) in bootstrap script to make sure nodes gets latest security updates.

[2017-04-24 08:16] #102 closed

[2017-04-24 08:20] #135 closed

[2017-04-24 08:22] mcapuccini commented on #155
I think this is included in `sudo apt-get update`, don't we already run this? I think we need to have a playbook to run the security updated while a cluster is running as well.

[2017-04-24 08:39] andersla commented on #155
We only run it at build process - not when image is a few weeks old. I think a playbook or maybe a scheduled task in kubernetes is a good option?

[2017-04-24 08:41] andersla commented on #155
https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/

[2017-04-25 14:18] mcapuccini opened #156 "Order and grouping of variables in AWS/GCE"
We may want to revision the order of the variables in GCE/Terraform modules:

[code]
`gce_zone` has nothing to do with credentials.

[code]
We need two subgroups for this block.

[2017-04-25 17:08] andersla opened #157 "Linux extra no longer needed in requirements"
from Xenial linux v. 4.4.0-75.96 aufs.ko is included in linux kernel package, which means linux kernel extras is no longer needed. see: https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1673498
On amazon installing linux-kernel-extras is causing following error currently: `amazon-ebs: E: Unable to locate package linux-image-extra-4.4.0-1013-aws`

[2017-04-29 19:14] sneumann commented on #114
Hi, image import may not be available on all Ostacks. I get:
[code]

[2017-04-29 20:13] sneumann opened #159 "Decouple storage available in gluster from flavour"
Hi, currently the gluster storage is living in the root disk of the individual nodes.

If I need more shared space for metabolomics data, I need to artificially select very large flavours, and unnecessarily exceed e.g. my RAM quota.

The filesystem behind the gluster nodes should be on its own ephemeral disk or volume.
@pcm32 had a prototype for that at some stage.  Yours, Steffen

[2017-04-29 22:06] mcapuccini commented on #159
Good point! @andersla has already implemented this in a dev branch, I am in the process o merging that and some other improvements.

[2017-05-02 08:20] mcapuccini commented on #114
Hi @sneumann. Do you mean that you would like the CI to import the image automatically in your OpenStack installation?

[2017-05-02 09:44] #103 closed

[2017-05-02 13:58] mcapuccini opened #161 "Need to update the documentation"
We need to add minor updates to the docs after merging: #158 #160. In particular we need to change the prerequisites for the image import, and the kubenow_image tfvar that is now lowercase.

[2017-05-02 14:01] mcapuccini opened #162 "Too much copy pasting of the KubeNow image version"
After #158, the KubeNow image version is fixed for faster CI and better reliability. However at the moment we copy paste the image in a couple of places, and this should be avoided. Not particularly important, but it's good to remember.

[2017-05-02 14:03] mcapuccini opened #163 "Default image in tfvars"
Since after #158 we have default names/versions of the KubeNow image we could default the image name Terraform variable, so the user has one thing less to figure out. That could be a nice starting point for @carmat88 to get into Terraform.

[2017-05-02 14:04] mcapuccini commented on #155
Oh yes, that looks good!

[2017-05-02 14:05] mcapuccini commented on #157
Good to know. Maybe @carmat88 spotted this too.

[2017-05-02 14:08] mcapuccini opened #164 "Improve the review process"
We need to write a document on how to contribute and how to review the PRs. If we have some checkpoints, then other owners than me can review future patches.

[2017-05-02 14:10] mcapuccini opened #165 "Need for a way to generate a changelog"
We need some automated way to generate/maintain a changelog.

[2017-05-02 14:23] mcapuccini commented on #114
Fixed in #158

[2017-05-02 14:23] #114 closed

[2017-05-02 14:23] mcapuccini commented on #40
Fixed in #160

[2017-05-02 14:23] #40 closed

[2017-05-02 14:24] #126 closed

[2017-05-02 14:25] mcapuccini commented on #133
Done in #158

[2017-05-02 14:25] #133 closed

[2017-05-02 14:26] mcapuccini commented on #142
Fixed in #160. @andersla please reopen if I am wrong.

[2017-05-02 14:26] #142 closed

[2017-05-02 14:36] sneumann commented on #114
Hi, sorry for the late response, my issue is that on an OStack without
support for remote image locations there is the response `400 Bad Request: External sources are not supported` but the ansible snippet will happily retry until it bails out.
It should be smart and give a reasonable error message for thus 400 Bad request.
Yours, Steffen

[2017-05-02 14:40] mcapuccini opened #167 "The CI should test the terraform templates"
Terraform templates are not tested at the moment. We need a way to test them to avoid mismatching with the documentation.

[2017-05-02 14:44] mcapuccini commented on #161
Done https://github.com/kubenow/docs/pull/6. We didn't specify any prerequisite, so nothing to update there (I guess we rely on Ansible errors for missing prerequisites).

[2017-05-02 14:44] #161 closed

[2017-05-02 14:45] mcapuccini commented on #151
It's now fixed. It was a problem with a webhook.

[2017-05-02 14:45] #151 closed

[2017-05-02 14:58] mcapuccini commented on #114
I see! I just merged a major refactory #158 that also fixed some problems with the OpenStack import. Would you mind to test it?

[2017-05-02 15:13] sneumann commented on #114
Is there a point if the os does not support pointing to an http location
And insists on a real file upload?
Yours Steffen

---
I blame Android for the brevity and typos

[2017-05-02 15:22] mcapuccini opened #168 "Need to add a retry to the Travis CI"
We need to add a Travis retry to the terraform commands in the CI. This will make sure that the CI does not fail for timeouts, but most important that the destroy part won't fail.

[2017-05-02 15:32] mcapuccini commented on #29
Fixed in #160

[2017-05-02 15:32] #29 closed

[2017-05-02 17:03] mcapuccini commented on #114
@sneumann Yes, there is a point, the new playbook downloads locally first and then uploads to OS. In the new glance API they removed the http/https image location when uploading images. I don't understand why they've done this. I was doing some research on Google, but I didn't really find any explanation for that. We'll do more research and come back to you.

[2017-05-04 08:29] mcapuccini commented on #100
@pditommaso it is now possible: #169. Please give a look at the network configuration: http://kubenow.readthedocs.io/en/latest/getting_started/bootstrap.html#bootstrap-on-amazon-web-services-ec2

[2017-05-04 08:29] #100 closed

[2017-05-04 09:45] carmat88 commented on #157
@andersla @mcapuccini Thanks guys, though did not experience any issue while building on amazon. However if it is unnecessary anymore, then we can slim down the requirement script. Will do some tests by first commenting those lines and then removing them if tests were successful.

[2017-05-04 16:01] #164 closed

[2017-05-05 14:29] #168 closed

[2017-05-06 11:08] #167 closed

[2017-05-10 12:07] andersla opened #179 "Remeber to state latest requirements on new releases"
Remeber to state latest requirements on new releases, or some automatic generated text from a requirements file

[2017-05-10 13:31] jonalv opened #180 "kubectl get pods gives: "panic: runtime error: index out of range""
Running version 0.2.1 on SSC I get this error:

[code]

[2017-05-10 13:40] jonalv commented on #180
Confirmed on gce as well

[2017-05-10 13:44] jonalv opened #182 "Can't run terraform destroy"
On 0.2.1 on gce I can't run terraform destroy. Why is it complaining now when running terraform apply worked fine?
[code]

[2017-05-10 13:59] andersla commented on #182
Did you mean to do a` terraform destroy gce` (and not terraform destroy openstack) ?

[2017-05-10 14:02] jonalv commented on #182
ahh good catch

[2017-05-10 14:02] #182 closed

[2017-05-10 14:10] mcapuccini commented on #180
could you run: `ansible-playbook playbooks/infra-test.yml` and post the result?

[2017-05-10 14:31] mcapuccini commented on #180
please run: `git status` and post the results as well.

[2017-05-10 14:33] jonalv commented on #180
[code]

[2017-05-11 09:34] jonalv commented on #180
Oh found out what I was doing wrong. I was accidentally using the edge node instead of the master node

[2017-05-11 09:34] #180 closed

[2017-05-16 11:55] mcapuccini opened #186 "PR template update"
The PR template needs to be updated on the image repository and the docs repository.

[2017-05-22 08:14] mcapuccini opened #187 "CI template rendering needs to be in a separated file"
CI template rendering starts to be kind of big, would be good to have it in a separated file.

[2017-05-22 08:43] carmat88 commented on #157
@andersla @mcapuccini I can confirm that the Linux extra packages seem to no longer be needed as per new image building process in https://github.com/kubenow/image

[2017-05-22 16:37] #35 closed

[2017-05-23 09:52] firog opened #191 "[GCE] Skip cloudflare"
I've been trying to skip cloudflare configuration and only use googles TCP load balancer by specifying `type: LoadBalancer` in the Service manifest. However the service does not get an IP-address it is only pending, there should be a way around this but I have not been able to figure it out.

[2017-05-23 11:00] mcapuccini commented on #191
Hi @firog, thanks for opening this issue. I think that in order to use a `LoadBalancer` you need to configure kubernetes to provision LBaaS on your GCE account. KubeNow doesn't do this automatically, but maybe in the future we might automate this process. However, if you checkout the master branch, you can disable cloudflare straight in the terraform template, and you can enable `master_as_edge`.

[2017-05-24 12:13] carmat88 opened #192 "Reducing Verbosity Terraform in Travis when building image"
When building image on GCE, during the builder post-processor a script is executed which run Terraform. Problem is that Terraform logs' verbosity switch directly to _TRACE_, producing a very large number of output lines, forcing travis to turn-off interactive log in favour of the raw one.

**Possible Cause:** Terraform is being run from Packer and not directly in Travis as part of the `script:` se

[2017-05-26 15:06] mcapuccini opened #194 "Inventory looks messy"
Just did a test on CityCould (OpenStack). The inventory looks kind of messy:

[code]

it should look something like

[code]

@andersla could you fix it?

[2017-05-26 15:07] mcapuccini commented on #194
p.s. @andersla I am really appreciating the master as edge feature 🙂

[2017-05-26 15:26] andersla commented on #194
Yes I know:) Problem is limited functionality in terraform... looks like this due to workarounds, I might find another solution, but another option is that I would like to remove edges ip and hostnames from Inventory - they are only there for testing. Maybe we could accept not testing if they are in cloudflare register and only test that cheese.domain.etc is working.

[2017-05-26 15:29] andersla commented on #194
The empy line is the zero-count edge hostname and ip, Terraform wont let you not output anything.

[2017-05-26 16:11] mcapuccini opened #195 "Need to remove infra_test.yml from getting started"
It's good to remove infra_test.yml from getting started, it deploys stuff for testing that the user might not want.

[2017-05-26 16:28] mcapuccini commented on #194
@andersla it's not super important! I thought it was easyer to fix... but maybe:

[code]

is this easyer to achieve? Also we really need both nodes_count and node_count?

[2017-05-28 08:58] mcapuccini opened #199 "GCE image creation postprocessor always return 0"
@carmat88  please remove this block: https://github.com/kubenow/image/blob/master/postprocessor/gce_tf.sh#L27-L31. In this way you return the exit code of the echo command.

[2017-05-28 09:04] mcapuccini opened #200 "TF_STATUS in GCE postprocessor not assigned in some cases"
Please replace https://github.com/kubenow/image/blob/master/postprocessor/gce_pp.sh#L19 with `/tmp/terraform apply ; TF_STATUS="$?"`. It is more robust, since as it is now `TF_STATUS="$?"` is executed only when `terraform apply` fails. The last exit works as expected because `exit` returns 0 if no argument is supplied.

[2017-05-29 09:34] carmat88 opened #202 "Improving image creation with branches option + Periodic script for cleaning old/test versions"
Currently the building process creates either a release or a current KubeNow image based on whether we are on the master or a branch respectively. However when being in any testing branches only the `kubenow-current` is built and **will overwrite any previous ones in both GCE and AWS** each time.

It could be useful to use something like `TRAVIS_TAG` variable to check if we are in a tag or in the

[2017-05-29 10:50] #200 closed

[2017-05-29 10:50] #199 closed

[2017-05-29 15:11] mcapuccini commented on #202
@carmat88 this can be closed after we merged https://github.com/kubenow/image/issues/9 right?

[2017-05-29 15:15] mcapuccini opened #203 "Need to update docs"
We need to update docs after merging #201 #183 #185. The getting started can be drastically simplified now, and we can add the cloudflare/edge part as advanced topic.

[2017-05-29 15:17] mcapuccini commented on #162
@andersla maybe with a module in common that return the image version we could fix this?

[2017-05-29 15:18] mcapuccini commented on #156
Fixed!

[2017-05-29 15:18] #156 closed

[2017-05-29 15:20] mcapuccini commented on #109
Done in #170

[2017-05-29 15:20] #109 closed

[2017-05-29 15:22] mcapuccini commented on #132
Closing for now, since `helm install` fails if run twice. This cause problems when scaling a cluster.

[2017-05-29 15:22] #132 closed

[2017-05-29 15:22] mcapuccini commented on #163
Fixed in #201

[2017-05-29 15:22] #163 closed

[2017-05-29 15:24] mcapuccini commented on #202
Just realized that we need the cron job before closing this.

[2017-05-30 07:38] carmat88 commented on #202
@mcapuccini That's right. I'm already working on it ;-)

[2017-05-31 18:06] andersla opened #208 "Compress openstack qcow image before upload to bucket"
When compressing image using the command `qemu-img convert -O qcow2 -c kubenow-v030a.qcow2 kubenow-v030a.compressed.qcow2` The size went fron 2.8GB to 997MB!!

[2017-06-01 12:53] andersla opened #210 "Lookup openstack network-id from network-name with TF data-lookup"
Lookup openstack network-id from network-name with TF data-lookup

[2017-06-14 12:43] mcapuccini opened #216 "Instances don't know their own hostname in OpenStack"
This can be fixed by running `echo "127.0.0.1 $(hostname)" > /etc/hosts` in the bootstrap.

[2017-06-19 08:09] mcapuccini opened #222 "Image build status points to main repo"
The build status in the image repository readme points to the main KubeNow repo CI. It should point to the image CI instead.

[2017-07-07 17:26] mcapuccini commented on #216
@andersla you fixed right? If so please close the issue.

[2017-07-07 17:26] mcapuccini commented on #210
What does this mean? 🙂

[2017-07-07 17:27] mcapuccini commented on #208
what is the status of this?

[2017-07-07 17:28] mcapuccini commented on #203
We need to document also the Gluster storage on dedicated nodes

[2017-07-07 17:29] mcapuccini commented on #194
ping @andersla? Why do we need both node_count and nodes_count?

[2017-07-07 17:30] mcapuccini commented on #187
This was implemented by @andersla 🙂

[2017-07-07 17:30] #187 closed

[2017-07-07 17:32] mcapuccini commented on #127
Fixed in #221

[2017-07-07 17:32] #127 closed

[2017-07-07 17:32] mcapuccini commented on #33
@sneumann is this still a problem?

[2017-07-07 17:40] mcapuccini commented on #186
It probably good to have the guidelines as a separated document, and to have a simpler template.

[2017-07-07 17:40] mcapuccini commented on #179
No longer an issue, with Docker image and `kn`. Please reopen if I am wrong.

[2017-07-07 17:40] #179 closed

[2017-07-07 17:41] mcapuccini commented on #162
@andersla ping 🙂

[2017-07-07 17:41] mcapuccini commented on #159
Fixed in #221

[2017-07-07 17:41] #159 closed

[2017-07-07 17:42] #157 closed

[2017-07-07 17:44] mcapuccini commented on #131
Fixes in #221. Helm wasn't possible for the way Heketi works, but maybe some day we can make it.

[2017-07-07 17:44] #131 closed

[2017-07-07 17:44] #119 closed

[2017-07-07 17:48] mcapuccini commented on #128
No longer used after #221

[2017-07-07 17:48] #128 closed

[2017-07-07 17:51] mcapuccini commented on #152
Fixed in in #221

[2017-07-07 17:51] #152 closed

[2017-07-07 20:33] mcapuccini commented on #150
Fixed in #219

[2017-07-07 20:33] #150 closed

[2017-07-07 20:35] mcapuccini commented on #147
@andersla I am not sure if it can be different for external network... but in all of the deployments I know it's same as external network. We should add a little note on the docs.

[2017-07-07 20:36] mcapuccini commented on #144
@andersla I am not sure if this is good security-wise, can you check?

[2017-07-09 07:35] andersla commented on #216
fixed by #217

[2017-07-09 07:35] #216 closed

[2017-07-09 07:36] andersla commented on #210
Instead of both network id, openstack users will be able only to provide network-name, network id will be looked up by terraform data provider

[2017-07-09 07:37] andersla commented on #208
Fixed by carmat I am pretty sure

[2017-07-09 07:39] andersla commented on #194
It was because of some testing playbook that wanted node_count (nodes - edges - master), I think I can remove it in a future pull request

[2017-07-09 07:43] andersla commented on #33
Fixed by Terraform upgrade to version > 0.9.4

[2017-07-09 09:50] mcapuccini commented on #33
closing then 🙂

[2017-07-09 09:50] #33 closed

[2017-07-17 10:46] carmat88 commented on #208
Hey Guys! Indeed, you can see the `-c` option [here](https://github.com/kubenow/image/blob/master/bin/os_tf.sh)

[2017-07-17 13:48] #208 closed

[2017-07-17 15:26] carmat88 commented on #222
Hej! This has been corrected now here: https://github.com/kubenow/image/pull/17. Cheers

[2017-08-07 09:05] carmat88 opened #227 "Renaming AWS S3 bucket eu-frankfurt"
In order to deploy soon cron-jobs in Travis for taking care of cleaning old kubenow-images, we would need to rename the recently created S3 bucket called "_kubenow-eu-frankfurt_" to "_kubenow-eu-central-1_" if possible. Reasons of this revision lie within the syntax logic of AWS s3 APIs [hence a simpler identification of the bucket with its region's name]

**NOTE:** In aws s3 "renaming" cannot act

[2017-08-07 09:10] carmat88 commented on #227
@andersla Let me know if you have any questions regarding this. In case having a different name will imply too many modifications of other files, then I can figure something different out for the AWS cron-job. Last but not least, let me know if there is anything I can help with.

[2017-08-07 10:40] andersla commented on #227
fixed with #231

[2017-08-07 10:53] carmat88 commented on #227
Fantastic, many thanks!

[2017-08-07 14:04] #227 closed

[2017-09-04 09:03] carmat88 commented on #192
@mcapuccini As we discussed a while ago, Hashicorp is well aware of this technical glitch, but it is not a priority for them at the moment. Hence either we wait for this to be fixed with future version of Terraform and Packer, or we use the new Travis functionalities as you explained me. Cheers.

[2017-09-04 09:04] carmat88 commented on #79
@mcapuccini @andersla Hey Guys! Is this still something to address? If so, then I'll be more than glad to take care of it eventually. Cheers

[2017-09-04 09:22] mcapuccini commented on #79
@andersla we don't rely on hostnames anymore right? Can we just close this?

[2017-09-10 19:01] logixworx opened #230 "KubeNow Image import fails on DreamHost's DreamCompute OpenStack platform"
(400) Client Error for url: https://iad2.dream.io:9292/v2/images Bad Request

Should it be  https://iad2.dream.io:9292/images   and not https://iad2.dream.io:9292/v2/images?

Thats what is shown under the API Access tab in the panel
Maybe other URL's need to be updated.
Here is DreamCompute's API Access tab (I removed the ids and replaced with (id)):
Compute | https://iad2.dream.io:8774/v2/(id)
Id

[2017-09-15 08:28] mcapuccini commented on #230
Hi @logixworx! Thanks for opening this issue.

What version of ansible are you using?

Would you mind to upgrade the python requirements, and rety? You can do it by running this command:

[code]

[2017-09-15 13:14] logixworx commented on #230
same error.

ansible --version
ansible 2.3.1.0

all the versions are the same as listed in your pip install.  I dont have $SHADE_VERSION set in my env but pip list shows    shade (1.23.0).   Should $SHADE_VERSION be set?

[2017-09-15 13:19] mcapuccini commented on #230
Sorry, I forgot to replace that one hehe. We run the CI with shade version `1.21.0`. If you get the same error try to install the latest `pip install --upgrade shade`. We rely on shade for the image upload. Please let me know how it goes.

[2017-09-15 13:58] logixworx commented on #230
i do have the latest installed (shade 1.23) .  You said the CI is version 1.21  Wouldnt the CI need to be updated?

[2017-09-15 14:06] mcapuccini commented on #230
@logixworx trying it right now https://travis-ci.org/kubenow/KubeNow/builds/275904555

[2017-09-15 14:35] mcapuccini commented on #230
The test with shade 1.23 passed, so I assume there is some other issue. We test only on a few OpenStack providers, and the CI is tests on [CityCloud](https://www.citycloud.com) only.

However, now that I am reading better your first message I am thinking of another possible cause for your issue. I suspect that `OS_AUTH_URL` is set to `https://iad2.dream.io:9292` instead of `https://iad2.dream.io:9

[2017-09-15 14:48] logixworx commented on #230
ubuntu@kubenow:~/KubeNow$ export OS_AUTH_URL=https://iad2.dream.io:9292/v2
ubuntu@kubenow:~/KubeNow$ ansible-playbook playbooks/import-openstack-image.yml
 [WARNING]: Host file not found: inventory

 [WARNING]: provided hosts list is empty, only localhost is available

PLAY [localhost] ***********************************************************************************

TASK [set image facts] *****

[2017-09-15 14:56] mcapuccini commented on #230
Alirght... Does DreamHost support Keystone v3? The version that you are using right now (v2) is deprecated https://developer.openstack.org/api-ref/identity/v2/index.html.

[2017-09-15 14:59] logixworx commented on #230
https://iad2.dream.io:9292    shows:

{"versions": [{"status": "CURRENT", "id": "v2.4", "links": [{"href": "http://iad2.dream.io:9292/v2/", "rel": "self"}]}, {"status": "SUPPORTED", "id": "v2.3", "links": [{"href": "http://iad2.dream.io:9292/v2/", "rel": "self"}]}, {"status": "SUPPORTED", "id": "v2.2", "links": [{"href": "http://iad2.dream.io:9292/v2/", "rel": "self"}]}, {"status": "SUPPORTED", "i

[2017-09-15 15:02] logixworx commented on #230
check this out... might clue us in as to what's wrong with DreamCompute

https://adam.younglogic.com/2016/07/bypassing-discovery-keystoneauth1/

[2017-09-15 15:08] mcapuccini commented on #230
@logixworx then let's try to set `export OS_AUTH_TYPE=v3password`, maybe shade will recognize the setting 🙂

[2017-09-15 16:15] logixworx commented on #230
didnt work, but I eventually figured that link is actually outdated & the issue no longer exists.  DreamHost is set up for v3

Let's go back..  so the error says:

"(400) Client Error for url: https://iad2.dream.io:9292/v2/images Bad Request (Inner Exception: Extra data: line 1 column 5 - line 5 column 4 (char 4 - 331))"}

if https://iad2.dream.io:9292/v2/images is a valid url, what is it supposed

[2017-09-18 07:34] mcapuccini commented on #230
Alright! Please try to run `openstack image list`, so we can check if it works with the standard openstack client (https://docs.openstack.org/glance/latest/admin/manage-images.html).

[2017-09-18 20:03] logixworx commented on #230
$ openstack image list
+--------------------------------------+---------------+-------------+
| ID                                   | Name          | Status      |
+--------------------------------------+---------------+-------------+
| afa49adf-2831-4a00-9c57-afe1624d5557 | CentOS-6      | active      |
| d83cc53a-720a-4972-8d9a-f92299571920 | CentOS-7      | deactivated |
| f84868a5-5261-404a-9

[2017-09-19 07:49] mcapuccini commented on #230
@andersla could you point @logixworx to your bash image import that uses the openstack CLI? I think that using your script he would be able to import the image.

[2017-09-19 10:00] andersla commented on #230
Hi @logixworx
You could try uploading image with script bin/image-upload-openstack.sh
It is on branch feature/os-imageuploadscript
`git checkout feature/os-imageuploadscript `
It requires OpenStack python glance client: `pip install python-glanceclient`
As before, first source your credentials file, then run
`bin/image-upload-openstack.sh`
/Anders

[2017-09-19 13:49] mcapuccini commented on #222
Thanks!

[2017-09-19 13:49] #222 closed

[2017-09-19 13:49] mcapuccini commented on #79
Closing for inactivity

[2017-09-19 13:49] #79 closed

[2017-09-19 13:51] mcapuccini commented on #194
@andersla could you take care of this last issue so we can move toward release?

[2017-09-21 11:22] mcapuccini opened #235 "Need to skip PWD checking for kn CLI"
PWD checking should be skipped for the kn CLI. Adding it to this if condition should be sufficient https://github.com/kubenow/KubeNow/blob/master/bin/kn#L73.

[2017-09-21 14:22] mcapuccini commented on #194
fixed by #232

[2017-09-21 14:22] #194 closed

[2017-09-22 04:45] logixworx commented on #230
The image upload script worked, though it initially errored because DreamCompute doesn't generte qcows images and I had to edit it to make a raw image instead.

The bootstrap instructions that come next is either incomplete or outdated. Some command options for nova no longer exist & appear to have been moved to the openstack command? and the terraform instructions seem to be missing some options.

[2017-09-22 05:00] logixworx commented on #230
I'm gonna work with terraform on DreamCompute independently of KubeNow and see if I can figure out whats different.

[2017-09-22 08:00] mcapuccini commented on #230
@logixworx yep, the documentation might be outdated, we are working on that... I'm going to ping you as soon as I'll be done with the new documentation. Thanks a lot for testing with DreamCompute, and please let us know if you manage to find where the problem is.

[2017-09-23 12:44] mcapuccini commented on #195
Fixed

[2017-09-23 12:44] #195 closed

[2017-09-23 15:24] mcapuccini opened #241 "Gluster/Heketi shouldn't be deployed when there is no glusternode"
Gluster/Heketi shouldn't be deployed when there is no glusternode. Right now the deploy fails if there is no glusternode up and running, since `install-core.yml` waits for the daemonset to be ready. This is a blocking issue.

 @andersla is there any way to achieve this? You can reproduce the error if you follow the new documentation.

[2017-09-23 15:32] mcapuccini commented on #241
@andersla maybe add glusternode_count to the inventory, and skip when it is 0?

[2017-09-23 15:37] mcapuccini commented on #241
@andersla probably the same issue it appears when `master_as_edge=false` and `edge_count=0`, we should add this info to the inventory and skip Traefik deploy in that case.

[2017-09-24 09:42] andersla commented on #241
And I should also add the optional parameter, gluster_replication_factor. And maybe error if replication_factor and glusternode_count doesn't sum up?

[2017-09-25 12:12] mcapuccini commented on #241
No, that should not be necessary, the blocking part doesn't check for any number in particular: https://github.com/kubenow/KubeNow/blob/master/playbooks/roles/heketi-gluster/tasks/gluster-daemonset.yml#L35

[2017-09-25 14:39] pditommaso opened #243 "[question] GlusterFs persistent volume"
When configuring the GlusterFS storage is KubeNow able to setup the Persistent Volume in the Kubernetes cluster?

[2017-09-25 21:08] andersla commented on #243
It will create a Gluster Kubernetes StorageClass that will be the default storage class in the cluster and will automatically give the asked for storage to a Persistent Volume Claim.

[2017-09-26 10:18] mcapuccini commented on #243
Yes, all you need to do is to create a PersistentVolumeClaim, the PersistentVolume should be provisioned automatically by Heketi. You can give a look to the [persistent volume test](https://github.com/kubenow/KubeNow/blob/master/playbooks/roles/shared-volume-test/tasks/main.yml) for an example.

[2017-10-01 10:23] pditommaso commented on #243
Being so it's enough that I add a volume claim like the one below?

[code]

and if so what's the claimName to be used? or do I need to create a `PersistentVolumeClaim` before launching the pod/job ?

[2017-10-01 11:49] andersla commented on #243
Yes you need to make a claim, like:
https://github.com/kubenow/KubeNow/blob/master/playbooks/roles/shared-volume-test/files/pvc.yml

[2017-10-01 12:08] pditommaso commented on #243
I see, since you configure the Gluster storage as the default StorageClass any PVC automatically used the Gluster storage.

What it's still a problem on my side is the need to create a PVC manually before launching my computation. I think it would be nice if it would be possible to specify the require volumes in the KubeNow template by providing the mount path and the claim name. What do you think

[2017-10-01 12:38] andersla commented on #243
Yes that could possibly be included as an optional argument in KubeNow config. Another option is that you just create it initially when you launch your computation pipeline as part of for example a Helm package that you create to launch your computation pipeline. Isn't there some kind of initial pod that you need to deploy into the cluster anyhow before you launch the computations?

[2017-10-01 12:39] mcapuccini commented on #243
@pditommaso we decided to move the PVC creation to the helm-charts, since it is part of the SaaS layer. Please give a look to what @jonandernovella has done for Pachyderm https://github.com/kubenow/helm-charts/blob/master/charts/pachyderm/templates/etcd_pvc.yaml.

[2017-10-01 12:48] #243 closed

[2017-10-03 12:49] mcapuccini opened #245 "Make a stable image release"
Right now `master` uses a beta image release, before releasing a new stable we need a stable image.

[2017-10-16 09:48] #241 closed

[2017-10-23 09:41] mcapuccini opened #258 "Image documentation needs to be updated after Azure merge"
We need to add the public URL to the Azure image (if it exists) to this page: http://kubenow.readthedocs.io/en/latest/developers/build-img.html.

[2017-10-23 09:42] mcapuccini commented on #258
@andersla is there a public URL where one can download the public image for Azure? Or is it more like Amazon?

[2017-10-23 09:45] andersla commented on #258
There is a public URL, but we copy it with the Azurecli so it doesn't need to leave the datacenter

[2017-10-23 12:09] mcapuccini opened #259 "Bash scripts refactory"
Bash scripts will probably need some refactory soon as we are adding in more and more things into it. One important thing is to put all local variable to lowercase.

[2017-10-24 05:50] andersla commented on #258
Fixed bu KubeNow/docs#18

[2017-10-24 14:44] carmat88 opened #262 "Refactoring credentials env variable CI for cron repo"
Refactoring credentials env variable CI for cron repo. Allowing some variables to be visible so to allow an easier debugging process

[2017-10-24 14:47] carmat88 commented on #262
@mcapuccini Env variables have been refactored as discussed: https://travis-ci.org/kubenow/cron/settings

Cheers!

[2017-10-24 14:47] #262 closed

[2017-10-24 14:52] carmat88 opened #263 "Adding cleaning script for images created in Azure"
Having expanded the list of support cloud provider for KubeNow, we will now need a script to take care cleaning old images built and/or imported/exported in Azure.

[2017-10-24 15:15] carmat88 opened #264 "Adding README.md to Kubenow's cron repo"
Adding README.md to Kubenow's cron repo

[2017-10-24 16:39] carmat88 commented on #264
All good.

[2017-10-24 16:39] #264 closed

[2017-10-24 16:40] carmat88 commented on #202
This has been addressed by now. Cheers!

[2017-10-24 16:40] #202 closed

[2017-10-24 16:41] carmat88 commented on #258
@andersla Cheers, thanks!

[2017-10-24 18:28] andersla commented on #263
You can possibly use a modification of:

az storage blob list --account-name kubenow \
                                       --container-name system \
                                       --query [].name \
                                       --output tsv |
                                       grep "/$IMAGE_NAME/.*vhd"

and

az storage blob delete

[2017-10-25 11:34] carmat88 commented on #263
@andersla Great, thanks a lot for such hint. Will start working at it soon. Cheers

[2017-10-25 11:43] andersla commented on #263
I guess you can get even more ideas such as how to log in: https://github.com/kubenow/KubeNow/blob/feature/azure-provider/bin/image-create-azure.sh

[2017-10-26 08:12] carmat88 commented on #245
@mcapuccini Shall I proceed and create a stable image since the azure's building process has been included by now?

[2017-10-26 08:37] carmat88 commented on #263
@mcapuccini @andersla All good pals, script is in place. Cheers guys!

[2017-10-26 08:37] #263 closed

[2017-10-26 08:43] mcapuccini commented on #245
@carmat88 sure! Please go ahead!

[2017-10-26 11:02] mcapuccini opened #265 "Install security updates on bootstrap"
We should install recommended security updates during bootstrap to avoid security issues.

[2017-10-26 12:21] mcapuccini opened #266 "Check for ansible.cfg to be present in local path"
Need to check that the ansible.cfg file is present in the current directory when running `kn` in order to avoid cryptic Ansible error host file not found.

[2017-10-26 16:43] andersla commented on #266
OK I will fix it with a check in user config dir.
I guess this could happen if you already have an old version of config dir, and then pulling later docker image - the file is copied once in new version when you kn-init a directory

[2017-10-27 08:13] #266 closed

[2017-10-27 15:08] mcapuccini commented on #259
During refactory we should remove warnings if possible (e.g. https://travis-ci.org/kubenow/KubeNow/jobs/293557859#L2996).

[2017-11-02 07:40] carmat88 commented on #245
@mcapuccini @andersla Stable release is out eventually! Any comments, please let me know. Cheers.

[2017-11-02 07:40] #245 closed

[2017-11-02 07:41] andersla commented on #245
Great!

[2017-11-02 07:50] carmat88 opened #269 "Refactory of building image process - Using Travis Build stage"
Currently due to some limitations of the default Travis' VM related to our CI, for Openstack we opted to combine Terraform and Packer by using the concept of post-processors. However this combination leads to an output that is quite cumbersome and tedious to debug ([Terraform's bug](https://github.com/hashicorp/terraform/issues/6468)).

Hence a possible approach would be to use the [Travis' beta f

[2017-11-02 10:15] carmat88 commented on #258
@mcapuccini @andersla Shall I update the following README as well?

- https://github.com/kubenow/image

Otherwise I suppose we could close this issue, isn't it?

[2017-11-02 10:23] andersla commented on #258
I guess you could ad it to the README as well, it is nice to show that we are publishing image available to all.

[2017-11-02 10:54] carmat88 commented on #258
Alright, thanks. It's done ;-) I am gonna close this then. Cheers!

[2017-11-02 10:54] #258 closed

[2017-11-02 10:58] carmat88 commented on #186
@mcapuccini Is this still something to take care of? If I am not wrong you introduced a PR template in all the above mentioned repos, isn't it? Cheers

[2017-11-02 11:49] mcapuccini commented on #186
@carmat88 yep, but we decided to have a documentation page with the contribution guidelines, can you take care of that? Once this is done we can trim down the PR template, and have it in every repo.

[2017-11-02 12:02] carmat88 commented on #186
Sure thing, maybe we could brainstorm anyway so that I have a better overview of how we would like this documentation page to be.

[2017-11-08 16:25] #186 closed

[2017-11-13 14:30] carmat88 commented on #269
As per our discussion, we may not need to use the build-stages, rather simplifying the Openstack's post-processor by moving that logic into the `after_success` in `.travis.yaml`

[2017-11-22 10:50] mcapuccini opened #282 "Need to remove DL3013 ignore form hadolint"
We should remove DL3010 from hadolint when PR https://github.com/lukasmartinelli/hadolint/issues/115 gets merged.

[2017-11-22 13:01] #230 closed

[2017-11-22 13:01] mcapuccini commented on #269
This should be handled! Please reopen if I am wrong.

[2017-11-22 13:01] #269 closed

[2017-11-22 13:02] mcapuccini commented on #162
@andersla please keep this issue in mind after last merge it's really time to tackle this

[2017-11-22 13:17] carmat88 commented on #269
That's right. I reckon we could also close #192 . Cheers!

[2017-11-22 13:17] carmat88 commented on #192
@mcapuccini : I think we could also close this. Cheers!

[2017-11-22 13:53] #192 closed

[2017-11-22 17:12] andersla opened #283 "Make sure there is only one Azure image with same name"
Azure packer allows for duplicate image names with unique id:s. We should make sure it is not possible in travis build. One option would be to do a az image show "$name" and see it image before travis executes packer builder. Lets discuss alternatives.

[2017-11-23 09:10] mcapuccini commented on #283
What if we delete the image if present at the beginning of the build?

[2017-11-23 09:41] andersla commented on #283
Thats an option, but a little bit more difficult to implement, It should be extremely rare that an image with same name is created or?

[2017-11-23 09:41] andersla commented on #283
Or maybe not more difficult - I dont really now:-)

[2017-11-23 16:15] carmat88 commented on #283
Hey guys. As per our discussion, on the packer's github I found a [month old issue](https://github.com/hashicorp/packer/issues/5509) that may be related. Before following up in that thread, I would like to perform and investigate these scenarios:

1. Create a v040b2 tag, delete it and then re-create again in order to evaluate whether and where duplicates are being created in our providers

2. Crea

[2017-11-24 16:02] mcapuccini commented on #282
@andersla we should now be able to remove it, right?

[2017-12-04 16:24] laeeq80 opened #288 "docker file restrictions needs change"
In order to get the provisioning tools we need to run the following command but it has authorization problem

`docker pull kubenow/provisioners:master`

One needs to change mode of a particular docker file as under

`sudo chmod 777 /var/run/docker.sock`

[2017-12-04 16:29] laeeq80 opened #289 "KubeNow tries to create GlusterFs Nodes even when not required"
Even though GlusterFs Nodes are commented out in the terraform conf file, KubeNow tries to create them.

[code]

[2017-12-04 17:20] laeeq80 opened #290 "kn ssh not valid"
"ssh" is not a valid command. I tried

kn ssh

and

kn ssh ubuntu@master

If the above cases are wrong, then better documentation with example is required in http://kubenow.readthedocs.io/en/latest/getting_started/bootstrap.html

[2017-12-04 17:54] laeeq80 opened #291 "Unable to tunnel to Traefik UI"
I tried multiple times but could not reach Traefik UI through tunneling. Then I went into master machine where it should be running and can't see anything running on 8080. I used these commands to check.

ubuntu@chemolytics-master-000:~$ netstat -a | grep localhost:8080
ubuntu@chemolytics-master-000:~$ sudo lsof -i -P -n | grep 8080

[2017-12-04 18:00] laeeq80 opened #292 "Documentation Updation"
http://kubenow.readthedocs.io/en/latest/troubleshoot/trouble-kubernetes.html

Some commands starts with kn which is missing

[2017-12-04 18:02] mcapuccini commented on #290
@laeeq80 thanks for testing. I think we introduced the problem recently, looking at the code it seems like it tests for kn-ssh: https://github.com/kubenow/KubeNow/blob/master/bin/kn#L88

@andersla would you mind to fix it?

[2017-12-04 18:04] mcapuccini commented on #289
@laeeq80 @andersla I found the problem. We need to add a when statement here: https://github.com/kubenow/KubeNow/blob/fa3aaf1d6139c43c8e8070ed4c76ebac5ca2203d/playbooks/roles/heketi-gluster/tasks/gluster-daemonset.yml#L27

[2017-12-04 18:06] mcapuccini commented on #288
@laeeq80 I think that this is a docker error that has not to do with KubeNow. You need to add your user to the Docker group in order to be able to see `/var/run/docker.sock`. Please feel free to reopen if I am wrong.

[2017-12-04 18:06] #288 closed

[2017-12-04 18:11] mcapuccini commented on #291
@laeeq80 could you post the tunnelling command that you are trying to run, and the error message? Also could you run `kubectl get pods --all-namespaces` and post the results?

[2017-12-04 18:14] mcapuccini commented on #292
Yep, that page needs to be updated. Maybe you can send a PR?

[2017-12-04 18:15] laeeq80 commented on #291
[code]

laeeq@optiplex:~/Desktop/Backup/Project5/cpvs_deployment$ ssh -i ssh_key -N -f -L localhost:8080:localhost:8080 ubuntu@130.239.81.225.nip.io
**No Error**

but when I try to see localhost:8080, it says the page is not working

[2017-12-04 18:25] mcapuccini commented on #291
@laeeq80 nowadays we serve the interface on 8081, we need a documentation fix.

[2017-12-04 18:31] andersla commented on #289
But in master playbook should not be used at all:
https://github.com/kubenow/KubeNow/blob/master/playbooks/install-core.yml

[2017-12-05 09:14] mcapuccini commented on #289
@andersla somehow it gets triggered, could you give it a look?

[2017-12-05 15:32] mcapuccini commented on #292
Fixed https://github.com/kubenow/docs/pull/24

[2017-12-05 15:32] #292 closed

[2017-12-06 11:38] #289 closed

[2017-12-07 16:02] mcapuccini opened #298 "kn should be refactorized with GO"
`kn` CLI should be written in GO for better portability and versioning.

[2017-12-07 16:30] mcapuccini opened #299 "Long Dockerfile command needs to be splitted"
Docker file install needs to be splitted in multiple commands. As it is now it is hard to read.
https://github.com/kubenow/KubeNow/blob/master/Dockerfile#L26-L61

[2017-12-07 16:36] andersla commented on #299
Yes but otherwise it creates more layers and get substantially larger... In the future Travis might support the new (currently experimental) command docker --squash

[2017-12-07 16:39] mcapuccini commented on #282
ping @andersla could you take care of this?

[2017-12-07 17:00] mcapuccini commented on #299
Docker squash is now in Travis: https://github.com/travis-ci/travis-ci/issues/7380

[2017-12-07 19:50] andersla commented on #299
Unfortunately it is still part of the "experimental" features not enabled on travis - I did try to enable it with env-vars but never got it to work..

[2017-12-08 08:32] mcapuccini commented on #299
Is there any thread we can follow, so we kwon when it will become available?

[2017-12-09 18:34] mcapuccini commented on #203
Most of the documentation has been updated. We need a section "advanced topics" where we explain how to deploy: edge nodes, glusterfs nodes, cloudflare DNS records, proxied Cloudflare services and single node deployments. I am short in time right now, but we can leave this out for 0.3.0. Maybe @carmat88 could take care of this, I guess this is a nice way to dig into more advanced k8s topics. This

[2017-12-09 18:35] mcapuccini commented on #210
This is now fixed 🙂

[2017-12-09 18:35] #210 closed

[2017-12-09 18:36] mcapuccini commented on #144
closing for inactivity. Please reopen if still an issue.

[2017-12-09 18:36] #144 closed

[2017-12-09 18:37] mcapuccini commented on #162
Thanks @andersla for nice fix.

[2017-12-09 18:37] #162 closed

[2017-12-09 18:39] mcapuccini commented on #259
After discussion with @andersla we decided to rewrite part of it in GO.

[2017-12-09 18:42] mcapuccini commented on #235
No longer an issue after #270 #257

[2017-12-09 18:42] #235 closed

[2017-12-09 18:43] mcapuccini commented on #191
Adding this to backlog for `0.4.0`.

[2017-12-09 18:44] mcapuccini commented on #147
closing for inactivity

[2017-12-09 18:44] #147 closed

[2017-12-09 18:46] mcapuccini commented on #283
Fixed: https://github.com/kubenow/image/pull/29

[2017-12-09 18:46] #283 closed

[2017-12-09 18:46] mcapuccini commented on #290
Fixed #295

[2017-12-09 18:46] #290 closed

[2017-12-10 17:59] mcapuccini opened #305 "Docker entrypoint errors when calling commands outside init directory"
When calling commands outside the init directory the Docker entrypoint errors:

[code]

[code]

We should move the test for these commands before initing the deployment in Travis, to avoid errors in the future. @andersla could you give it a look?

[2017-12-10 18:01] mcapuccini commented on #305
No problem from inside the directory:

[code]

[2017-12-11 12:15] jonandernovella opened #307 "Inconclusive error log"
If the user is using an old `kn` client&provisioner container, when executing the `kn apply`operation the following message might occur:

This indicates that the image version of KubeNow has not been defined in the terraform deployment manifesto. Better feedback should be provided.

[2017-12-11 12:21] jonandernovella opened #308 "Heketi fails to provision volumes with two gluster nodes"
Using KubeNow version: 0.3.0rc3, Heketi seems to fail to provision volumes with two GlusterFS nodes:

`$ kn kubectl get pvc`
[code]

`$ kn kubectl describe pvc main-gs3-pvc`

[2017-12-11 13:46] carmat88 commented on #203
Sure, always glad to contribute and dig into new topics. Will then ping you in regard of such matter.

[2017-12-11 16:13] carmat88 opened #309 "Dpkg bug when installing azure-cli"
Currently when trying to install the azure-cli packages in our CI an error due to some associated  dpkg packages is returned. This seems to be linked to the following official upstream report: https://bugs.launchpad.net/ubuntu/+source/dpkg/+bug/1730627

Even by updating and/or upgrading dpkg we seem to not be able to solve this glitch for the time being. However this does not concern directly the

[2017-12-11 17:28] andersla commented on #309
Hi @carmat88 I have found that you can install azure cli with pip: `pip install azure-cli`
maybe that could solve your problem

[2017-12-12 09:02] mcapuccini commented on #305
Fixed #306

[2017-12-12 09:02] #305 closed

[2017-12-12 09:26] carmat88 commented on #309
Hi @andersla Ok, will try this alternative although I must admit that on debian machines I don't like installing tools via pip but sometimes it is the only way. Cheers!

[2017-12-12 11:18] carmat88 commented on #309
@andersla pip seems to not be the most optimal way unfortunately: https://github.com/kubenow/cron/pull/10

[2017-12-12 15:40] bebehei commented on #299
Well, if you want to have your stuff readable and in one `RUN`, simply follow the dockerfile best practices. There is no need to split it and squash it.

[code]

- Group (read: indent) the commands correct.
- Pack the arguments into a new line (and if the arguments are a set, sort it!)
- I usually add `true` as the first and last command. This allows me to insert commands at the beginning/end with

[2017-12-12 15:44] bebehei commented on #299
I'm submitting a PR. Give me some time pls.

[2017-12-12 15:57] mcapuccini commented on #299
That's a good remark 🙂

[2017-12-12 15:59] bebehei commented on #299
So, I also reviewed this part of the dockerfile (But I'm not touching these with the PR):

- Also, there should be an `export DEBIAN_FRONTEND=noninteractive` in every `RUN` statement involving apt. (Do **not** export it in an `ENV`).
- The multiple `ENV`s should also be grouped together.
- If you install `apt-transport-https`, I think you should also add the repository with `https` instead of `htt

[2017-12-12 16:02] mcapuccini commented on #298
closing for now.

[2017-12-12 16:02] #298 closed

[2017-12-12 16:09] mcapuccini commented on #259
@andersla @carmat88 after #311 gets merged I'll be quite happy with the bash scripts. Before we can close this it would be nice if you can take care of the upper case internal variables. It should be done in the cron-job and in the image repo by @carmat88, and in the import scripts by @andersla. Since you have mostly worked to this scripts I think it's going to be faster for you than for me.

@and

[2017-12-12 16:25] mcapuccini opened #314 "Need to fix PR template in KubeNow repositories"
We need to fix the PR template as it was done in: #315. This will ease PR close automation.

[2017-12-13 12:46] mcapuccini opened #316 "Bucket URL is not passed to the environment in the `kn` CLI"
The variable `IMAGE_BUCKET_URL` should be passed to the environment of the Docker container in the `kn` script. An idea could be to rename all of the KubeNow variables with the prefix `KN_` so that we can pass them with a single line, like we do for `OS_`, `TF_` etc.

[2017-12-13 12:51] andersla commented on #316
That sounds great, I have been thinking exactly the same:-)

[2017-12-13 13:57] bebehei commented on #299
@mcapuccini Thanks for merging #312. But KIM the other points, I also have noted in my previous comment here.

[2017-12-13 13:58] mcapuccini commented on #299
Yep, reopening the issue and renaming it 🙂

[2017-12-14 07:59] #308 closed

[2017-12-14 08:34] mcapuccini commented on #308
@jonandernovella pleas go ahed and try again with 2 glusternodes, and tolerations. This should be in version 0.3.0

[2017-12-18 00:45] jonandernovella opened #319 "Upgrade Helm version"
Just ran into a problem with our version of Helm: 2.6.1. The issue is explained [here](https://github.com/kubernetes/helm/issues/1707). We'd better upgrade asap.

[2017-12-18 08:40] mcapuccini commented on #319
Good that you pointed it out! Could you send a PR? I think it should be in kubenow/image.

[2018-01-02 14:20] carmat88 commented on #259
@mcapuccini All good on my end. Only the image repo needed little revision which you can find it [here](https://github.com/kubenow/image/pull/32). Cheers!

[2018-01-02 14:56] carmat88 commented on #314
@mcapuccini All PR template should have been updated as in #315. Cheers!

[2018-01-12 11:12] carmat88 opened #323 "Create Helm Chart for Luigi"
As per request related to Phenomenal next releases, it seems to be useful to create a Kubenow's chart for luigi using our [container](https://github.com/phnmnl/container-luigi) given that there is no official app in docker hub.

[2018-01-15 09:00] mcapuccini commented on #259
Thanks everyone!

[2018-01-15 09:00] #259 closed

[2018-01-15 09:00] mcapuccini commented on #314
Thanks!

[2018-01-15 09:00] #314 closed

[2018-01-15 09:20] mcapuccini commented on #323
Yep, we wanted this for a while. I suggest to start by having it in our repository, and then to move it to the official Kubernets Helm repo.

[2018-01-18 12:26] carmat88 commented on #319
Unless I am missing something, from the comments' thread it sounds like developer are noticing and experiencing the same issue with the latest version, 2.7.2. Isn't that the case @jonandernovella ? Cheers.

[2018-01-18 22:12] jonandernovella commented on #319
@carmat88 this can be fixed if you allow the value to be an integer for ease-of-use, and then force it to be a string: (t.e: `{{ toString .Values.myfield }}`).

We can close this issue.

[2018-01-18 22:12] #319 closed

[2018-01-18 22:14] jonandernovella opened #324 "kubectl stops working"
Just hit a similar error to https://github.com/kubernetes/kubeadm/issues/459 on different KubeNow deployments .

It seems that  `kubectl` (on master) stops working once you start a `scp -r . ubuntu@<master-ip>:<master-path>` from your local computer.

A workaround might be upgrading Weave to 2.0.5. However, we are currently using Flannel. So I updated to the latest Flannel version but it is still

[2018-01-19 09:04] mcapuccini commented on #324
Hi @jonandernovella. Did you try with a larger master flavor?

[2018-01-19 10:25] #309 closed

[2018-01-19 10:26] carmat88 commented on #309
All good, glitch has been solved in https://github.com/kubenow/cron/pull/12

[2018-01-19 11:27] jonandernovella commented on #324
Quite unfortunately by my side, I was uncounciously copying hidden `kubectl` config files. These were the causes of the problem.

We can close this.

[2018-01-19 11:27] #324 closed

[2018-01-23 13:37] carmat88 commented on #323
Hello @mcapuccini  and @andersla . As per our discussion with Marco, the Luigi chart has been first [pushed to the Phnmnl's repo](https://github.com/phnmnl/helm-charts/pull/5).

Later on if need be we could also add it to the Kubenow helm-chart repo. So I guess this can be closed for the time being.

Cheers!

[2018-01-23 13:44] carmat88 commented on #265
As per our discussion, a first step toward addressing this bullet point has been to install the `unattended-upgrades` package to our default Ubuntu image([here is the related PR](https://github.com/kubenow/image/pull/34)).

Now correct me in case I was wrong, we should still make sure to both include security updates on bootstrap and major Kernel security updates when available. In the latter case

[2018-01-23 14:09] carmat88 opened #325 "Investigating NFS and External Storage Integration with ownCloud"
Howdy @mcapuccini  and @andersla. As per our recent DevOps Meeting, we'd like to investigate integration of NFS and external storage Integration with ownCloud.

From their web site there seems to be positive signals for such goal:

and this might include also NFS although not entirely sure yet.

Here are some useful links:

- [Configuring External Storage via GUI](https://doc.owncloud.org/server/l

[2018-01-29 08:42] carmat88 commented on #323
All good, our Luigi helm chart has been merged into [phnmnl/helm-chart](https://github.com/phnmnl/helm-charts) master. Cheers.

[2018-01-29 08:42] #323 closed

[2018-02-08 16:49] carmat88 opened #327 "Azure Image copy progress "hangs" at 99.99% for more than 30 minutes"
When trying to use different regions for spawning KubeNow clusters in Azure, the `image-create-azure.sh` checks whether the `kubenow` image is available otherwise starts to copy it from the main azure "bucket". However the copy progress reach 99.99% and hangs for more than 30 minutes, resulting in a misleading feedback to the user. Would it actually be possible to show that the copying progress is

[2018-02-08 16:55] mcapuccini commented on #327
IMO the situation described in the comment just happened https://github.com/kubenow/KubeNow/blob/master/bin/image-create-azure.sh#L141-L142. It would be good to move the out condition to the top of the loop (and use a while loop instead). Motivation for this can be found here: https://stackoverflow.com/questions/3922599/is-it-a-bad-practice-to-use-break-in-a-for-loop (loop is quite long, and it is

[2018-02-08 17:16] carmat88 opened #328 "Azure North Europe Region: module.network.azurerm_virtual_network.vnet: 1 error(s) occurred"
Hej Anders! I seem to be unable to deploy a KubeNow cluster when switching to North Europe region in Azure for our tenancy. Here below is the reported error:

[code]

May I ask if you could try a similar test and let me know whether or not you are successful? Here is my `terraform.tfvars`:

[code]

Cheers!

[2018-02-09 08:28] andersla commented on #327
I think it is all about that when copying the file to a new region - it actually needs to copy 30GB data, and that takes very long time, and when copying within then it is only 3GB.
I have seen this before, will look into it and probably skip that hardcoded image-size condition. I think that when copying within region it takes 5 min and to a new > 30 min (because of size it needs to copy)

[2018-02-09 08:33] mcapuccini commented on #327
Then isn't it better to set it to the bigger size? From the user prospective is much better seeing it going very fast from 10-15% to 99%, rather than seeing it stuck on 99%.

[2018-02-09 08:41] andersla commented on #327
Yes absolutely:-) But when I did work on it then it always did the last 90% instantly. Then once (or twice I noticed that it took a very long time - but I was too annoyed with Azure for digging into it:-) I guess I'm stuck with it... have to look at it ... buuuhhh

[2018-02-09 08:43] andersla commented on #327
If only google and azure could learn from amazon and make users share the public images!

[2018-02-09 09:32] mcapuccini commented on #327
Either we get it reliable, or we remove the estimation, it's very confusing for the user otherwise.

[2018-02-09 09:34] mcapuccini commented on #327
There is little we can do about it, but I think that having the last 90 instantly is way better than seeing stuck on 99.99% for 30 minutes.

[2018-02-09 09:34] mcapuccini commented on #327
oops, closed by mistake 🙂

[2018-02-09 09:36] mcapuccini commented on #327
Also we could do it like we do for GCE: https://github.com/kubenow/KubeNow/blob/master/bin/image-create-gce.sh#L58

[2018-02-09 09:39] andersla commented on #327
I think thats the way to go - write to the user that sometimes it takes 5 minutes even if the initial estimate is 50 minutes:-)

[2018-02-09 09:39] andersla commented on #327
But also I will do another round of investigation of what is the actual cause.

[2018-02-09 09:42] mcapuccini commented on #327
Not really getting you, but I am happy as long as it doesn't confuse me

[2018-02-09 09:50] andersla commented on #327
The initial estimate will always be 30GB = 50 min. But most of the time the last 27GB will be copied in a sec, I don't think we can perdict when.

[2018-02-09 09:56] mcapuccini commented on #327
Isn't it better to give an upperbound estimate, rather than an optimistic one?

[2018-02-09 09:59] andersla commented on #327
Yes but we say to the users that if they are lucky they only need to wait 5min, then they think - next time I will be lucky even if I have to wait a long time this time:-)

[2018-02-09 10:01] mcapuccini commented on #327
Nope, you are not getting me, I am saying that we should estimate 50 minutes, and then maybe if they are lucky with Azure it will take 5. This is my opinion better that saying come back in 5 minute, and then having users wait for 50 minutes (I would assume that the process failed in that case).

[2018-02-09 10:05] andersla commented on #327
We will estimate 50 (but mention in parenthisis that it might take much shorter)

[2018-02-09 10:06] mcapuccini commented on #327
Yep, that works :-)

[2018-02-09 10:30] mcapuccini commented on #328
I think it might be a problem with Azure API not responding in time

[2018-03-01 13:43] mcapuccini commented on #307
Closing for inactivity

[2018-03-01 13:43] #307 closed

[2018-03-01 13:45] mcapuccini commented on #282
Fixed!

[2018-03-01 13:45] #282 closed

[2018-03-01 13:50] mcapuccini commented on #155
Closing in favour of #265

[2018-03-01 13:50] #155 closed

[2018-03-01 13:53] mcapuccini commented on #99
@andersla please remember to send PR for fix.

[2018-03-02 10:01] carmat88 opened #333 "Move KubeNow Images to New AWS Tenancy"
We need to move the KubeNow Images to our new Phenomenal AWS tenancy. As a first evaluation, this would likely imply that:

- New buckets have to be created firsts.
- All the old buckets URLs must be updated with new ones.
- Travis CI AWS env variables must be updated as well.
- The AWS packer conf files must be updated too.
- All previous KubeNow AMIs need to be moved across the two tenancies.
-

[2018-03-02 12:57] carmat88 opened #334 "Error: "/opt/KubeNow/bin/ssh-agent-wrapper: line 7: kn-apply: command not found""
As per our discussion, after having curled the latest version of kn and run `kn apply` in an already existing working directory (hence previously initialized with an older version of kn), I am getting this error:

`/opt/KubeNow/bin/ssh-agent-wrapper: line 7: kn-apply: command not found`

By running `ls bin` in the working folder I noticed that the command kn-apply does not exist. This is because o

[2018-03-08 09:44] jonandernovella opened #337 "Add platform for analytics and monitoring"
Currently `kubectl` has an API for analytics and monitoring of pods/nodes performance. This can be setup by deploying Heapster/Grafana. Users would only need to: `kubectl top pod/node <name>`.

More info: https://github.com/kubernetes/heapster/blob/master/docs/influxdb.md

[2018-03-08 09:45] mcapuccini commented on #337
Looks great! Maybe we could install it by default?

[2018-03-08 12:30] carmat88 opened #339 "Travis CI - Final command `terraform destroy -force "$HOST_CLOUD"` is failing"
As you can see from [this Travis execution](https://travis-ci.org/kubenow/KubeNow/builds/350745723), in all the builds the command `terraform destroy -force "$HOST_CLOUD"` is failing with the following error:

Failed to load root config module: Error loading modules: module keypair: not found, may need to be downloaded using 'terraform get'

This does not affect the final status of the build inasm

[2018-03-08 13:10] mcapuccini commented on #339
@andersla it seems like the `terraform destroy` command needs a `terraform get`... But it is weird since we run `terraform get` in the container, maybe we don't copy `.terraform` directory in the host machine?

[2018-03-08 13:42] andersla commented on #339
I think it is because we are using pre-downloaded plugins when we run via provisioner image

[2018-03-08 13:43] mcapuccini commented on #339
Any idea on how to fix it? Maybe just run `terraform get`?

[2018-03-08 13:47] andersla commented on #339
It might not be enough, maybe terraform init - I will test

[2018-03-08 13:58] andersla commented on #339
Not so easy.... it seems like it want the preloaded plugins since thats how terraform-state was created....

[2018-03-08 13:59] andersla commented on #339
this did not solve it...
[code]

[2018-03-08 14:38] andersla commented on #339
Solved it, pull request on way:
`travis_retry rm -f .terraform/plugin_path && terraform init "$HOST_CLOUD" && terraform destroy -force -var-file=config.tfvars "$HOST_CLOUD" # in case there is some problem with kn`

[2018-03-08 21:51] sneumann opened #341 "Add AWS IAM key id to Tags"
Hi,
in the AWS billing console you can filter resources by their tags.
To get all costs incurred by some user, consider adding to
https://github.com/kubenow/KubeNow/blob/master/aws/node/main.tf
for everything that gets billed, e.g. at least nodes and volumes:
[code]

[2018-03-09 09:51] andersla commented on #341
Looks good. Will also add volume_tags to instance to keep track of instance root volumes and aws_access_key_id to all volumes tags

[2018-03-10 19:02] sneumann opened #342 "Enhancement: Provide kn scp"
Hi, I often need to copy files into a cluster. Having a `kn scp source dest` would be great,
where `dest` gets replaced with `ubuntu@host:dest`. Yours, Steffen

[2018-03-12 09:36] andersla commented on #342
You could get inspired by the kn-ssh

[2018-03-12 10:00] carmat88 opened #343 "AWS - Transitioning resource IDs to a longer format."
From the AWS console, here is an important communication:

As a first step, I am guessing that scripts about both image creation and deletion would likely to be revised.

[2018-03-12 15:01] sneumann commented on #342
This is not so much for workflow data,
but in case I want to add some files to the cluster.
Problem is that `kn kubectl create -f xxx.yml` does not work from the laptop,
so I need to transfer first. Yours, Steffen

[2018-03-12 15:28] mcapuccini commented on #342
Then, I'd say we should do both: add `kn scp` and support for local kubectl.

[2018-03-13 12:57] mcapuccini opened #344 "Support for VPS"
As per discussion in Trygve2 meeting, it could be a good idea to add support for VPN gateway in KubeNow. It should be relatively easy, as cloud providers and Terraform have native support for that:

https://www.terraform.io/docs/providers/aws/d/vpn_gateway.html
https://www.terraform.io/docs/providers/google/d/datasource_compute_vpn_gateway.html
https://www.terraform.io/docs/providers/azurerm/d/vir

[2018-03-13 16:07] #265 closed

[2018-03-16 09:12] #339 closed

[2018-03-16 13:18] mcapuccini opened #349 "Discussion on security updates"
I thought to open this issue to follow discussion on image security updated. Pointers:

Current status:
* We update images daily, however scripts won't import them
* We have unattended upgrades cron job on each node

Basic devel idea (to incorporate on `kn apply`):
1. Trigger unattended upgrades on boot time
2. Check if reboot is needed
3. If reboot is needed inform user, and ask to run `kn image-

[2018-03-16 15:55] carmat88 commented on #325
Other hints to be investigate:

*Frontend:* mounting OwnCloud's volume as a persistent volume in Kubernetes (if basically it can be exposed as a NFS)

*Backend:* how owncloud can write persistent data (one idea is by using Object Storage)

[2018-03-19 13:16] carmat88 opened #353 "Update CONTRIBUTING.md with guidelines about stable branches"
Updating CONTRIBUTING.md with few lines about how to maintain stable branches. Some useful git commands:

[code]

[2018-03-23 08:03] #353 closed

[2018-03-23 08:10] mcapuccini opened #355 "Minio storage class needs refinements"
After merging https://github.com/kubenow/KubeNow/pull/336 we added support for a minio storage class. A few refinements are needed:

1. Install minio as part of kn apply (@jonandernovella does it take much CPU?)
2. Have better config mechanism (will be possible after inventory-as-a-template will be available)
3. Figure out if this configs are better in general, and not only when working with minio

[2018-04-01 23:19] stephenmoloney opened #357 "image formats"
### Issue
Some cloud providers do not accept `qcow2` image format

### Potential solution(s)

- release multiple image formats and make downloadable format configurable

- let the client download the `.qcow2` image format and do any conversions necessary prior to upload to the cloud provider

relates to #356

[2018-04-03 12:20] mcapuccini commented on #357
Hi @stephenmoloney! Thanks for testing KubeNow, and for opening this issue. I assume we are talking about OpenStack here.

Releasing `raw` images would be a bit harder IMO. First, it's more expensive, and second it's slower to save on the backend storage. Since we are using the free version  of Travis, builds need to be faster or they will be killed. Therefore, I'd be more keen to solution 2.

I k

[2018-04-03 13:00] sneumann commented on #357
Hi, I didn't have a proper solution, and manually converted the image following
https://docs.openstack.org/image-guide/convert-images.html
and manually uploaded to the images available. Yours, Steffen

[2018-04-03 13:34] #333 closed

[2018-04-03 14:49] stephenmoloney commented on #357
@mcapuccini I'm not entirely satisfied that manual intervention is a good thing... As I suppose `KubeNow` is aiming to be `it just works` solution. If the client does the conversion, then perhaps it should be supported in some sort of script in the code too to do the conversion prior to upload.

@sneumann Do you know what size that upload was?

[2018-04-03 15:17] mcapuccini commented on #357
@stephenmoloney agreed, it should be automatic. Pinging @andersla for any thoughts on this.

[2018-04-03 15:27] mcapuccini opened #358 "Rollback to Travis email notifications"
A while ago I disabled email notification, and started to push them on Slack instead. However, I find myself forgetting about CI builds and not figuring out for days that a build failed (with some potentially hanging resources). I am thinking to re-enable email notifications for failed builds only. @carmat88 @andersla anything against this?

[2018-04-03 16:07] #203 closed

[2018-04-03 16:09] mcapuccini opened #359 "Create stable branch for documentation"
It might be a good idea to have a stable branch for the documentation as we do for the main and the image repository.

[2018-04-03 16:12] mcapuccini opened #360 "Documentation for Heketi storage class and PVC"
I have merged @carmat88 advanced topics section in the documentation. I think that it would be nice to expand the GlusterFS section explaining how to claim a GlusterFS volume, explaining that volume provisioning is automatic, as we set it as default storage class.

[2018-04-03 18:38] andersla commented on #357
Yes I think it would be possible to quite easily download the qcow2 image into the user temp dir (as is don now already) and there convert it into raw and then continue with then upload.

[2018-04-04 09:25] mcapuccini commented on #357
@stephenmoloney if you have slow connection, you could start an instance in OpenStack so you can do the first deployment from the tenancy. In this way download/upload of the image should be way faster. I like the idea of converting the image prior upload.

[2018-04-04 10:05] andersla opened #361 "Test if Azure image gets smaller if smalled disk VM is used by packer"
Currently we are using a Standard_A1 machine and that one has an internal disk size of 70GB, maybe if we build with a Standard_A1_v2 (10GB internal disk) The raw disk image on Azure gets smaller.

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes

Ultimately It would be great to build our OS image on a 10GB or 5GB machine (smaller raw-image) - but those machines does not exist

[2018-04-04 16:09] stephenmoloney commented on #357
@mcapuccini That's sounds like a good idea, effectively, I take it you mean run `kn apply` inside a running instance in the opencloud stack. Beats waiting hours/days for an upload.

So in that case, I'll make some changes to do a local conversion where the `disc_format` raw is specified in the `terraform variables` file.

It might be a few days before I get a chance. I'll ping back when the PR is

[2018-04-04 16:31] mcapuccini commented on #357
Sure, no worries! Just let us know when it's ready 🙂

[2018-04-05 13:08] carmat88 commented on #325
Some other useful links:

- https://central.owncloud.org/t/ftp-server-for-owncloud/5442

- https://doc.owncloud.org/server/latest/admin_manual/configuration/files/external_storage/ftp.html

[2018-04-10 09:50] carmat88 commented on #361
As per test conducted [here](https://github.com/kubenow/image/pull/41), we could close this issue.

[2018-04-10 09:50] #361 closed

[2018-04-10 10:16] carmat88 opened #363 "Cron Script for Installing Security Updates is failing for AWS and Azure"
Unfortunately the cron script for the security updates is now failing for AWS and Azure. Investigation is ongoing. Will follow up in this thread. For the time being the following actions have been taken:

- Image v050 has been rebuilt from master
- A new pre-release v051b1 has been created to be used as test
- cron script has been disabled

[2018-04-12 08:04] #363 closed

[2018-04-12 13:10] mcapuccini opened #364 "Evaluate a strategy to delete old dev branches"
We need for an automation delete old dev branches, and old dev Docker images.

@carmat88 @andersla ideas 🙂 ?

[2018-04-12 13:16] mcapuccini commented on #99
closing for inactivity.

[2018-04-12 13:16] #99 closed

[2018-04-12 13:36] carmat88 commented on #364
Howdy! I reckon that first step would be to agree upon what would be considered as "old". How would you define and old branch for example?

[2018-04-12 13:37] mcapuccini commented on #358
I decided to tune Slack notification instead: https://github.com/kubenow/KubeNow/pull/365, https://github.com/kubenow/image/pull/43.

[2018-04-12 13:39] carmat88 commented on #358
Hej! I'm fine with both ways if need be. Cheers.

[2018-04-12 13:41] mcapuccini commented on #358
I'd like everyone to decide on his own if notifications are needed or not. With Slack you can tune notifications, making it possible. I'll show you guys during next meeting.

[2018-04-12 13:43] mcapuccini commented on #364
One way would be via inactivity. Let's say if something wasn't touched in 4 months we just delete it.

[2018-04-12 13:44] mcapuccini commented on #364
Then branches can always be restored via GitHub, for a certain period of time.

[2018-04-12 20:42] andersla commented on #364
I usually delete my old branches every once in a while. It is easy since you can see only your branches. If you think more branches should be deleted, then I guess I still have them locally.
I use git as a place to store Ideas that I test and might not be used until much later when I tackle the problem again.

[2018-04-13 07:37] mcapuccini commented on #364
Oh, I see. So in many cases old branches could still be useful.

[2018-04-13 08:49] mcapuccini opened #366 "OpenStack: Image import fails on first `kn apply`"
Image import is failing when it gets imported the first time `kn apply` is ran:

[code]

If I run `kn apply` again after this, the script recognizes the image and it starts to deploy.

[2018-04-13 08:55] andersla commented on #366
I see that the OpenStack installation doesn't support checksum, it says "None". I thought there was always a checksum, I guess I will just remove checksum check of uploaded image.

[2018-04-13 08:56] mcapuccini commented on #366
Maybe we can have an env var that disables it? I think it's nice to have it when it is supported.

[2018-04-13 08:58] andersla commented on #366
We were synchronized in that thought

[2018-04-13 09:30] mcapuccini opened #368 "Can't pull kube-dns pod"
The `install-core.yml` fails when pulling kube-dns. It is probably a temporary error, or specific to the OTC cloud system. Details follow:

[code]

[2018-04-13 09:32] andersla commented on #368
Actually the correct version should already be on Image, mabe we have forgotten to update the pull docker image on image build.

[2018-04-13 09:35] andersla opened #369 "Change chellsceck to Docker image"
The ubuntu repo-version of shellcheck seem to be broken ( https://travis-ci.org/kubenow/KubeNow/builds/366017980 ), maybe better change to docker image version koalaman/shellcheck

[2018-04-13 09:40] mcapuccini commented on #369
Agreed!

[2018-04-13 11:25] #368 closed

[2018-04-13 14:27] andersla commented on #366
Actually It might have been the missing wait for Image to be ready that caused the error. Also fixed in pull-request

[2018-04-13 20:40] andersla commented on #369
fixed with #367

[2018-04-16 08:36] stephenmoloney opened #370 "Error when building from Dockerfile"
## Description

I have written the PR for the raw disc format over the weekend and now I am trying to test it out but
when building from docker off master, I am noticing the following error

Steps taken:

[code]

- error message
[code]

- it's breaking on [line 47](https://github.com/kubenow/KubeNow/blob/master/Dockerfile#L47)
- I wonder why others or the travis build is not seeing this.
- I have

[2018-04-16 18:51] andersla commented on #370
I get the same error on another branch. It is probably just something that changed in the pip repos the last couple of days.

[2018-04-16 21:56] stephenmoloney commented on #370
I made a PR for downloading pip using curl which avoids this problem. Seems that this has happened for others in other projects going back quite some time.

[2018-04-18 14:03] #366 closed

[2018-04-18 14:04] mcapuccini commented on #369
Merged!

[2018-04-18 14:04] #369 closed

[2018-04-18 14:39] #370 closed

[2018-04-19 13:15] mcapuccini opened #375 "State the Kubernetes version somewhere in the docs"
Somewhere in the docs we should state the Kubernetes version that we are using.

[2018-04-20 11:48] carmat88 commented on #375
Howdy! In this document here:

- https://github.com/kubenow/docs/blob/master/getting_started/prerequisites.rst

I am wondering to say something along the line of:

What do you think? Cheers.

[2018-04-20 11:50] mcapuccini commented on #375
That'd be great 🙂 (1.9.2, is enough to state)

[2018-04-20 12:13] carmat88 commented on #360
Howdy again! Quick question: when we say that :

is it equivalent to _"dynamically provisioned"_ as state here: https://kubernetes.io/docs/concepts/storage/dynamic-provisioning/

Cheers.

[2018-04-20 12:15] mcapuccini commented on #360
Yep, exactly. Maybe the term `dynamic` is more appropriate.

[2018-04-20 15:14] #360 closed

[2018-04-20 15:15] #375 closed

[2018-04-24 07:55] mcapuccini opened #377 "Node taint/labelling/etc. is now possible via kubeadm"
According to https://github.com/kubernetes/kubeadm/issues/202 node configuration is now possible within kubeadm, we might look into it, so we can simplify node bootstrap.

[2018-04-26 07:35] mcapuccini opened #379 "Cron script failing on AWS"
https://travis-ci.org/kubenow/cron/builds/370664014

[2018-04-26 07:39] mcapuccini commented on #358
Never mind... I still don't manage to remember failed builds via slack. Rolling back to mail notifications.

[2018-04-26 08:45] carmat88 commented on #379
Indeed, it's again that annoying issue related to the latest version of PIP. Will roll back to 9.0.3 here as well and actually install openstack-cli instead of glance so to use more updated tools.

[2018-05-02 09:33] mcapuccini commented on #359
Fixed!

[2018-05-02 09:33] #359 closed

[2018-05-02 14:33] #358 closed

[2018-05-08 05:27] andersla opened #387 "Change all var parsing to json2hcl"
Currently image upload is parsing vars with sed-grep, this can be changed to json2hcl.

[2018-05-14 09:47] mcapuccini opened #388 "Use the HCL parser where possible"
As per discussion in https://github.com/kubenow/KubeNow/pull/383 we should try to refactorize the code, so that we use the HCL parser to read configuration variables (instead of Unix
 commands).

[2018-05-14 12:16] andersla commented on #387
Closed duplicate of #388

[2018-05-14 12:16] #387 closed

[2018-05-14 12:17] #316 closed

[2018-05-14 12:17] #327 closed

[2018-05-21 11:52] mcapuccini opened #390 "kn apply should be renamed to kn deploy"
Since we have a separated `scale` command we should rename `apply` to `deploy` after https://github.com/kubenow/KubeNow/pull/384 goes through. Alternatively we could make a smarter `apply` command.

[2018-05-31 00:19] stephenmoloney opened #393 "question about bin/predestroy"
Issue:

using docker image: `provisioners/master` and on running `kn destroy` on master, i get the following error:
[code]

I can't find the actual`/KubeNow_root/bin/pre-destroy` script in the source code
[code]

An ideas what I am doing wrong?

[2018-05-31 03:58] andersla commented on #393
This was a piece of testing code that had been merged into master by mistake.
Thanks for reporting @stephenmoloney

[2018-05-31 08:38] mcapuccini commented on #393
@andersla reopening, so we can remember to remove it.

[2018-05-31 08:40] mcapuccini commented on #393
Just figured out that you are already on top of it 🙂

[2018-05-31 08:40] #393 closed

[2018-06-12 09:32] carmat88 opened #397 "Fix Shellcheck version to v0.5.0 in all the other repositories"
In line with https://github.com/kubenow/KubeNow/pull/396, we should be consistent in all the other repos and use the same shellcheck version.

[2018-06-12 09:58] mcapuccini commented on #397
Agreed!

[2018-06-14 23:44] bhajian opened #400 "Question about your architecture.."
1- Why did you use Kubeadmin. The kube admin docs says it supports only single master which means doesn't support HA.
2- Why didn't you use nginx which is the most industry standard for reverse proxy?

[2018-06-15 08:34] mcapuccini commented on #400
Hi @bhajian! Thanks for asking good questions 🙂

1. The simple answer is that we don't need HA. KubeNow is part of a bigger project called [phenomenal-h2020.eu](http://phenomenal-h2020.eu/home/). We use Kubernetes to do large scale analysis of biological data with workflow systems such as [Galaxy](https://galaxyproject.org/), [Luigi](https://github.com/spotify/luigi) and [Pachyderm](http://www.pac

[2018-06-15 08:51] carmat88 commented on #400
Hello @bhajian. Thanks for posting your questions! I second @mcapuccini comments and I'd also like to add that in regard to:

1. As you can read in our [Roadmap section](https://github.com/kubenow/KubeNow#roadmap), the HA feature is not available yet anyway. Thus all the default benefits of using kubeadm for one single master applies. Nevertheless, based on the official [Kubernetes documentation](

[2018-06-19 16:41] andersla opened #402 "Investigate move to Container-Linux?"
For easier OS maintenance and security upgrades, Investigate moving KubeNow image from current Ubuntu 16 to Container Linux (now supported by Kubeadm - https://kubernetes.io/docs/tasks/tools/install-kubeadm/)

[2018-06-20 11:58] stephenmoloney commented on #400
In respect of the api gateway question, I think that ambassador is also an interesting option.

https://www.getambassador.io

[2018-06-20 12:30] mcapuccini commented on #402
Good idea! Perhaps we could pack a single Docker image that would then work on any cloud provider.

[2018-06-20 12:31] mcapuccini commented on #400
@stephenmoloney looks nice!

[2018-06-20 13:27] stephenmoloney commented on #400
A little bit off topic, but i do see a place for this `https://github.com/openfaas/faas` in the field - not only does it encourage cloud agnostic development practices but also language agnostic development practices - as we know, there isn't only one tool for the job.

[2018-07-02 14:08] michaelosthege opened #403 "kn init openstack creates empty directory"
Hi there,
My colleague @kossikater and I are trying to use KN to init a cluster on OpenStack.
Since we are running on Windows workstations (long story), we have created a container that has access to the hosts `docker` command:

[code]

Then we proceed with the Getting Started:

[code]

Here we did not yet understand what the `pull` is for, because from the instructions we understand that the subs

[2018-07-02 18:51] mcapuccini commented on #403
Hi! Thanks for reporting. I think Docker run on a VM on windows, and perhaps creates the directory in the VM, and something there goes wrong... We don't support Windows officially, but @carmat88 and @andersla may manage to help you anyway. I'll be on vacation for three weeks from now unfortunately. I'll give it a look when I'll be back!

[2018-07-03 10:42] carmat88 commented on #403
Howdy @michaelosthege ! Thanks for pointing this out. As @mcapuccini  pointed out, honestly we haven't never supported and tested solutions on Windows workstations. Which in turn means : we are unsure why that happens.

It's going to be a busy period now for colleagues are (or about to go) on leave and we have soon an important deadline. Which means that unfortunately we cannot prioritize this. Bu

[2018-07-03 11:58] andersla commented on #403
I like @carmat88 Idea about starting a "Deployer" instance in the OpenStack tenancy. I tried the "Docker in Docker" that you did on my Ubuntu machine and it failed the same way with an empty directory as you described. Although I probably won't have time to investigate further at the moment at least I can reproduce the error. On the roadmap is converting our kn-bash script to Windows Power Shell (

[2018-07-03 15:18] michaelosthege commented on #403
We found the problem with the directory:

Even though we were running the `kn` commands from within a container, but **the docker engine was still the one of the host OS**. Thereby the **volume bind in the docker_run method of the kn script failed** (silently) because it can not bind container B to a folder within container A.  (This also explains with the same approach fails on Ubuntu Docker in D

[2018-07-03 18:41] andersla commented on #403
Thanks for investigating the issue! I will try merge a deployer docker image with updated Terraform version hopefully within this or beginning of next week.

[2018-07-04 10:13] ilveroluca opened #404 "configuration filename mismatch in docs"
The current docs on how to perform a deployment on AWS reference a file `config.tfvars`, while it looks like `kn init` creates `terraform.tfvars`:

https://kubenow.readthedocs.io/en/stable/getting_started/bootstrap.html#deploy-on-amazon-web-services-aws

[2018-07-04 11:09] andersla commented on #404
Thanks @ilveroluca The documentation is a little bit out of sync there. It will be fixed as soon as we release a new stable version of KubeNow.

[2018-07-04 11:14] andersla commented on #404
`terraform.tfvars` has been changed to `config.tfvars` in later versions of KubeNow

[2018-07-16 08:42] stephenmoloney opened #407 "[question] External load balancer"
Hi,

I understand that the docs state that traefik is the load balancer - but I presume this means an internal ingress controller acting as a sort of internal load balancer ?

I'm just wondering if there is an external load balancer?

Read through the source but only found traefik daemonset

https://github.com/kubenow/KubeNow/blob/master/playbooks/roles/traefik/files/traefik-daemonset.yml

[2018-07-16 15:44] stephenmoloney commented on #407
I found the answer to this question in the section on edge nodes. http://kubenow.readthedocs.io/en/stable/advanced_topics/edge-nodes.html

[2018-07-16 15:44] #407 closed

[2018-07-19 20:15] stephenmoloney commented on #407
To elaborate on my own answer a little bit and make some conclusions as it maybe used to others - feel free to clarify anything here.

There is no external loadbalancer, an 'internal` loadbalancer through traefik is achieved by using the `hostnetwork` and running the `traefik ingress controller` on each node or at least each edge node if using edge nodes.

The key lines to read are:

https://githu

[2018-07-23 07:57] mcapuccini commented on #403
Good that you managed to sort this out! If you feel like you could share with us your modifications to the `kn` script, maybe with a PR.

[2018-07-23 08:00] mcapuccini commented on #404
Hi Luca, what version of the client are you using?

[2018-07-23 08:17] mcapuccini commented on #407
Hi @stephenmoloney. I see that you managed to find the answer yourself.

Just to expand a little bit, we use Traefik instead of an external load balancer, as this service is not provided in some OpenStack installation that we need to support. In the future we may include external load balancer configurations optionally.

[2018-07-31 08:59] ilveroluca commented on #404
Sorry @mcapuccini but I don't remember.  I was following [the instructions for the PhenoMeNal plugin](https://github.com/phnmnl/KubeNow-plugin) but I couldn't tell you what version of the software I was using.

[2018-07-31 09:10] mcapuccini commented on #404
Alright, no worries. I thought we were talking about the [official documentation](http://kubenow.readthedocs.io/en/stable/getting_started/bootstrap.html#deploy-on-openstack) which seems to be in synch. I am leaving this open so we remember to fix the PhenoMeNal documentation as well.

[2018-07-31 09:15] andersla commented on #404
The Phenomenal documentation is in sync, the problem is that the PhenoMeNal branch of KubeNow contains features not yet available in the KubeNow master and therefore the documentation between PhenoMeNal and KubeNow master is not always matching.

[2018-07-31 09:16] mcapuccini commented on #404
Good 🙂 Closing then!

[2018-07-31 09:16] #404 closed

[2018-08-24 09:59] andersla opened #410 "Image with Kubernetes 1.10.x version"
Do we have a scheme where we can move to 1.10.x kubernetes version of image and still with cron continue to build and update the 1.9.x kubernetes image?

[2018-08-24 11:07] mcapuccini commented on #410
Better to wait for @carmat88  to be back before doing this.

[2018-09-11 12:05] mcapuccini commented on #328
closing for inactivity, please open if it happens again.

[2018-09-11 12:05] #328 closed

[2018-10-11 08:17] andersla opened #413 "Document KubeNow plugin configuration"
For now the plugin configuration is a "hidden" feature in KubeNow, but will be documented when all plugin and related code is merged into master

[2018-10-12 14:22] carmat88 commented on #410
@andersla @mcapuccini If I understood this correctly, what we could do is to move to 1.10.x kubernetes version in the master branch while continuing to build  and update 1.9.x kubernetes image (with the cron job) out of the stable/0.5 branch. Would it be correct so?

[2018-10-18 20:03] andersla opened #424 "Update kubeadm init/join params when moving to kube 1.11 or higher"
Until kube 1.11 or higher we need to use flag --ignore-preflight-errors=cri on kubeadm join/init in bootstrap script.
See issue: kubeadm init/join CRI preflight check fails unnecessarily · Issue #814

[2018-11-02 18:05] jhabdas commented on #191
Google reCAPTCHA + Cloudflare DDoS protections targeting riseup.net free vpn or "why we can't have nice things". Riseup is available in the FOSS vpn app Bitmask on F-Droid.

[2018-11-03 20:28] jhabdas commented on #191
Still ramping up on the stack, so I can't say. But I'm not sure how far I'll go if I can swap out Cloudflare for CloudFront. Is that supported or even possible? Thanks.

[2018-11-05 08:16] mcapuccini commented on #191
Cloudfront would be relatively easy. If you feel like working to a PR, me and @andersla could point you to the relevant code in the project.

[2018-12-24 12:30] akalitenya opened #438 "digitalocean support"
Any plans to support digitalocean?

[2019-07-26 05:47] kunalrdeshmukh commented on #357
Same error. Could you please let me know if you have fixed it? or else, how can i convert file to iso? i cant see it under tmp even after the download.

[2019-07-26 07:04] mcapuccini commented on #357
I think @andersla has a solution for this. You could also try this: https://docs.openstack.org/image-guide/convert-images.html

[2019-07-26 18:13] kunalrdeshmukh commented on #357
Thanks. So trick was to add `qemu-img convert -f qcow2 -O <desired_file_format> $filename <output file name>` command on line 70 of `bin/image-create-openstack.sh` file.

bin folder is inside my_deployment folder which is created as a result of `kn init openstack my_deployment` command.

[2020-02-26 08:36] chenoi opened #441 "curl: (28) Operation timed out - kn apply"
Hi...I'm getting curl: (28) Operation timed out after 1799997 milliseconds with 753365639 out of 1244004352 bytes received... I have tried few times and still the same. Any workaround? Thanks

[2020-11-17 19:00] lulzimv opened #444 "DomainID or DomainName"
Can anyone help me in this matter

You must provide exactly one of DomainID or DomainName to authenticate by Username

[2021-07-06 20:35] ghfaha commented on #444
I have the same issue , Can anyone help me?